[2022-08-01 15:51] tsteenbe commented on #5574
@pepper-jk  @jens-erdmann  Quick recap of our call today I recommend you adopt 1 rules.kts and use labels `-L` passed to ORT's Analyzer to which rules to execute. For an example see https://github.com/oss-review-toolkit/ort-config/blob/main/evaluator-rules/src/main/resources/example.rules.kts#L1214-L1242 which has a section of shared rules and a label based switch between PolicyRules.PROPRIETARY_P

[2022-08-01 16:03] dgutson commented on #1029
Hi, any update on this?

[2022-08-01 16:08] sschuberth commented on #1029
AFAIK no one is actively working on this, so far it was more or less just an idea. And I'm not even sure if SARIF is suitable for the kind of result ORT provides, as they cannot really be associated to a line of code.

[2022-08-01 16:29] dgutson commented on #1029
What about considering the pqckage dependency files as source code, pointing to the line where the dependency is specified?

[2022-08-01 17:06] sschuberth commented on #1029
The point is that ORT does (in most cases) not parse the package manager files, and as such also does not really know what dependency is declared in which line.

[2022-08-01 17:21] dgutson commented on #1029
So, does ORT rely on external libraries (such as pip-tree), and those are which actually read the pkg manager files? If so, maybe we should enhance those libs with "debug information" or some other verbose mode, so ORT can relate findings with physical file locations? (we can do this)

[2022-08-01 17:58] sschuberth commented on #1029
It really depends on the package manager and its capabilities how ORT analyzes the dependencies. For Gradle, we are using the Gradle Tooling API and no external script, and I'm not aware of the Tooling API to provide any "debug" information about the line of declaration.

[2022-08-01 18:20] dgutson commented on #1029
So it is a case-by-case basis (language-specific). We (here) could start with pip-tree.

[2022-08-01 18:26] dgutson opened #5626 "Create a command line flag to specify the maximum depth of analysis"
We sometimes need to get the 1st-level (direct) dependencies of a project.
I think that setting a --max-depth N could be helpful, N being 1 in the case of direct dependencies. It also could help to run ORT faster when resolving issues "iteratively" (eg by depth level): first level 1, then level 2, etc.
If maintainers don't think having the ability to set an arbitrary depth is useful, then just a -

[2022-08-01 18:46] dgutson commented on #5626
(FWIW we're currently working on this, so feel free to assign this to @qequ)

[2022-08-01 19:23] arieltorti commented on #4347
We have the same use cases as @rbieniek and are interested in helping solve this.

Could we re-open this discussion ?

[2022-08-01 19:56] qequ opened #5627 "GoMod: Runs out of memory when analyzing the 'ossf/scorecard' project hosted on GitHub"
Testing [Scorecard](https://github.com/ossf/scorecard) project ort ran out of heap memory with analyze tool.

command: `./cli/build/install/ort/bin/ort analyze -i ~/scorecard/ -o ortScorecard/`

ort dump:
[code]

[2022-08-02 06:58] fviernau commented on #5627
@qequ how much RAM does the machine have and can you fix this by setting the environment variable to give more memore to the JVM? like:
[code]

[2022-08-02 07:08] fviernau commented on #5626
@dgutson

Would you mind sharing the use case, e.g. for what purpose is the analysis result needed?

I'm asking this, since in case it is used in order to evaluate license compliance, then the definition of the `depth` may be a bit inaccurate. E.g. if you have a software project and you factor out a component X of that project into a separate library, then the direct of X, which have been first le

[2022-08-02 08:18] dgutson commented on #5627
Hi @fviernau, his computer has 16gb ram, and probably that will make it, but it is a brute force solution and it is a matter of time until we crash against another package that will need more memory.
Why is this process so much ram hungry, how can we limit it so it takes eg more time? I mean, if we can turn the unbounded memory variable into a 2 variables problem, like memory (bounded) and time (u

[2022-08-02 08:21] dgutson commented on #5627
Maybe limiting the amount of concurrent processes?

[2022-08-02 14:38] fviernau commented on #5621
@tsteenbe and me further dived into the use cases and we propose to do the following in scope of this ticket:

1. Extend the rules API to realize the use cases
2. Create actual real world policy rules in ort-config / examples rules
  - The rules must include error messages which make the violation actionable. This is important
     as the error messages typically impose additional requirements on

[2022-08-02 14:42] fviernau opened #5629 "Provide means to flag non-inclusive language"
Flagging non-inclusive language in ORT can make it easy for companies to enforce their respective policy.
ORT may examine the code as well as the VCS history (e.g. prior to open sourcing a project).

Details TBD, as starter see e.g. [1].

[1] https://github.com/dialpad/inclusive-language

[2022-08-02 14:43] fviernau commented on #5621
As flagging non-inclusive language is a bigger topic, I've filed a GitHub issue as a basis for starting discussions: #5629.

[2022-08-02 14:51] fviernau commented on #5627
@qequ I came up with above fix. Would you mind testing it?

[2022-08-02 15:00] pombredanne opened #5631 "Better understand how to install external tools: in docker?or in the code itself?"
I am trying to understand how is a tool like scancode installed:
- I see https://github.com/oss-review-toolkit/ort/blob/918e64e8ebc8510ca5e5ed81d8e5620e0d2ce4c7/scanner/src/main/kotlin/scanners/scancode/ScanCode.kt#L170 which seems to fetch it live from a remote URL
- but this is also installed in the Dockerfile in https://github.com/oss-review-toolkit/ort/blob/918e64e8ebc8510ca5e5ed81d8e5620e0d2c

[2022-08-02 18:35] pombredanne commented on #5631
We have a mostly working python-inspector integration working in https://github.com/nexB/ort/pull/1 and I would like to sort this out.

[2022-08-02 20:44] qequ commented on #5627
@fviernau Just tested the analyze tool on scorecard again and it worked great, no need of extra memory 👍

[2022-08-02 20:45] dgutson commented on #5626
Hi @fviernau, sure.
I see what you mean.
We have the "third party libraries" compliance audits, where we need to fill a number of data about the libraries _we_ use. This is what is under our direct control (choosing what libs to use), rather than modifying those external libs, so this is our action space. We could do this by post-processing the report, but this requires a script and wasting proces

[2022-08-02 21:32] nicorikken commented on #2441
Generating an SBOM using Tern for the current ORT container takes about 35 minutes on GitHub Actions. In the meantime I also found [Syft](https://github.com/anchore/syft) which is another tool for creating SBOMs of containers. I might give that a try as well.

For now I started generating images on a daily cron schedule: https://github.com/alliander-opensource/ort-container/pkgs/container/ort-cont

[2022-08-02 21:50] pombredanne commented on #3671
Some updates that are likely relevant here: https://github.com/nexB/python-inspector is now out and has been designed specifically to be integrated in ort. See See https://github.com/nexB/ort/pull/1 that we are refining there first before submitting ot ort proper here.

https://github.com/nexB/python-inspector features are that you can point it to requirements and pass it a target Python version a

[2022-08-02 21:54] pombredanne commented on #4637
See also: https://github.com/oss-review-toolkit/ort/issues/3671#issuecomment-1203248523

python-inspector does resolve transitive dependencies.

[2022-08-03 05:33] oheger-bosch commented on #5631
Since nobody from the experienced maintainers has answered so far, I can throw in my 2 cents; but you should wait for an "official" statement rather than taking this for granted.

The main README file lists multiple ways to run ORT commands, and using Docker is just one option. My understanding is that support for auto-installing tools is rather a legacy approach with the purpose of giving new use

[2022-08-03 06:22] nicorikken commented on #5629
[Woke](https://github.com/get-woke/woke) is a tool that already exists to help with checking inclusive language. Also relevant the [Inclusive Naming Initiative](https://inclusivenaming.org/) that facilitates discussion on inclusive language to hopefully come to a more definitive set of terms that should be avoided.

I dislike the ever expanding scope of ORT, but if this feature is desired it shoul

[2022-08-03 06:41] fviernau commented on #5627
Thanks!

[2022-08-03 07:00] fviernau commented on #5626
Hi @dgutson

here's a list of approaches to consider, I tried to make it rather complete even if I don't really like some of these:

1. Add logic to each package manager integration to handle the `maxDepth`. I have doubts about this due to added complexity /   maintenance costs, in particular the cost / benefit ratio as this would IIUC not lead to a significant speed-up for several (most?)  the pa

[2022-08-03 07:34] #5627 closed

[2022-08-03 07:36] ekandler opened #5632 "NPM dependencies that point to Git / GitHub repos cannot be processed anymore"
The support for npm dependencies that point to repositories, introduced in #4044 , seems to be broken, as calling 'npm view' on a package that is not in the official npm registry triggers an IOException.

### Dependency in package.json
`"angular-tileview": "github:tinydesk/angular-tileview",`

### Scanner output
[code]

Furthermore, if a dependency (that points to a git repository) is also present

[2022-08-03 07:41] tsteenbe commented on #5629
@nicorikken  Bit of background on this feature - for compliance purposes we always wanted to be able to check project's Git history and source code for internal (product) code names prior to open-sourcing. We also wanted to do inclusive naming checks and both of them needs a string-based search scanner.

Not sure if Woke can also check VCS commit history.

[2022-08-03 11:37] nicorikken commented on #5629
At least it is possible via `git bisect`, which is a use-case that is discussed here: https://github.com/get-woke/woke/issues/85#issuecomment-864507254

[2022-08-03 14:39] dgutson commented on #5626
Hi @fviernau ,

 I think that, based on your initial comment, we need to tackle first the separation between "internal/external" libs. This is a key underlying problem in our use case. Internal deps should not count in the depth calculus. And this should be provided in a code-less way (a list of repos, or folders in a case of monorepo, rather than a script).
Maybe I should create a separate issue

[2022-08-03 15:08] tsteenbe commented on #5626
If we provide a parameter to reduce the maximum depth of analysis this would change one of the core assumptions of ORT that everything is analyzed (but not necessary scanned). If we change this assumption we would need to update all ORT results to record maximum depth of analysis  and we would need to update all reports to make communicate this fact - this is not easy to communicate in SPDX or Cyc

[2022-08-03 19:21] dgutson commented on #2694
Hi, any update on this?

[2022-08-03 19:48] sschuberth commented on #2694
AFAIK no one from ORT is working on this. I guess some one needs to reach out to the Fossology guys to find out whether something has happened from their side (see above GSoC links).

[2022-08-03 20:29] dgutson commented on #2694
@sschuberth if you still think that "an ORT remote scanner implementation that leverages [FOSSology's REST API] still would be the technically better solution" is still relevant, please assign this to @qequ and we will manage this internally and prioritize it.

[2022-08-04 05:31] oheger-bosch commented on #5631
Hi @pombredanne,

we discussed the topic in our team in Bosch (including one of the core maintainers) and came to the conclusion that my answer is correct. So you can go ahead with your PR under the assumption that installing the tool in the Docker image is sufficient.

[2022-08-04 06:56] pombredanne commented on #5631
@oheger-bosch Thanks... this will simplify the build script that we edited to also install when build outside of Docker in https://github.com/nexB/ort/pull/1#issuecomment-1203075331
Now, would you know how to run the tests in the Docker context?

[2022-08-04 08:45] MarcelBochtler commented on #5631
Re @pombredanne
The docker tests can be run by using [Batect](https://batect.dev/).
See https://github.com/oss-review-toolkit/ort/blob/4ad3fdfa82cd32df721919e73b3951e7b8770bf3/.github/workflows/build-and-test.yml#L119-L120

[2022-08-04 23:09] pombredanne commented on #5631
@MarcelBochtler Thanks!

[2022-08-05 09:46] fviernau opened #5637 "CuratedPackage: `toUncuratedPackage()` not working as expected"
The data model of the curated package does not store the uncurated package explicitly. It stores a list of package diffs, computed by `Package.diff()`. The idea was that the original package can always be derived from the curated package and these diffs.
However, that idea does not work for nullable values in the diff: If the diff has let's say `concludedLicense=null` it could mean both

1. Applyi

[2022-08-05 09:56] #2024 closed

[2022-08-05 10:02] fviernau commented on #5626
That would be a optimization of execution time of scans, but the report would still contain entries for all dependencies.
Not sure if @dgutson wants the "level > X" dependencies to compeltely disappear. @dgutson can you clarify?

[2022-08-05 14:05] nicorikken commented on #2441
Containers are now available at https://github.com/orgs/alliander-opensource/packages?repo_name=ort-container including a dedicated build for the PR #4746

[2022-08-05 16:02] dgutson commented on #5626
I actually don't care about the level > X dependencies; however the "internal vs external" dependencies still hold (internal should not count in the X).
Also, running ORT this way is _one_ use case, so I think changing the configuration each time I need to use ORT for a different use case is not a good UX. This is why I suggested a command line flag.

[2022-08-08 06:35] nicorikken opened #5641 "Unreliable Docker builds by 503 Service Unavailable on SW360 dependency"
As I'm running daily container builds at https://github.com/alliander-opensource/ort-container I noticed that over the weekend the builds failed because of the `org.eclipse.sw360:client:13.2.0-28` dependency. A more detailed of the [build](https://github.com/alliander-opensource/ort-container/runs/7712164455?check_suite_focus=true#step:9:3122) error is below:
[code]

It worries me that two days in

[2022-08-09 20:40] timo-HERE opened #5642 "Duplicate: Support for PNPM package manager"
PNPM is addressing some shortcomings of npm and yarn and is used by some teams, so would be nice to add support for it.
* https://pnpm.io/feature-comparison
* PNPM uses pnpm-lock.yaml as lockfile

[2022-08-10 08:12] MarcelBochtler commented on #5642
Hi @timo-HERE,
PNPM is already supported since https://github.com/oss-review-toolkit/ort/pull/5611.

[2022-08-10 15:02] tsteenbe commented on #5642
@timo-HERE  Do you agree we can close this issue?

[2022-08-10 15:17] timo-HERE commented on #5642
Yes, this can be closed for sure.
I need to learn how to do use the search. I did not get any results yesterday, but I should have found all these; https://github.com/oss-review-toolkit/ort/issues?q=pnpm

[2022-08-10 15:19] #5642 closed

[2022-08-10 15:20] MarcelBochtler commented on #5642
Closed as this is a duplicate of https://github.com/oss-review-toolkit/ort/issues/2024

[2022-08-11 11:24] mnonnenmacher commented on #5631
I would like to add one thing to what @oheger-bosch said: There only exception where we still prefer bootstrapping over adding a dependency to the Docker image is if the dependency is very large and would blow up the size of the Docker image, but is rarely used. This is currently the case with Flutter which would increase the size of the image by more than a gigabyte. For all other dependencies ad

[2022-08-11 11:24] #5631 closed

[2022-08-11 16:27] mnonnenmacher commented on #5589
If code completion for `build.gradle.kts` files works in IntelliJ with the "bin" distribution I have no concerns with switching to "bin".

[2022-08-11 17:20] pepper-jk commented on #5574
Thanks for your help @tsteenbe.
We now use labels for our internal use cases and it works like a charm.

Sorry for the late reply, I don't use my personal GitHub account on my work machine. So every time I thought about replying and closing this issue during the work hours I couldn't and in the evening I forgot. :see_no_evil:

[2022-08-11 17:20] #5574 closed

[2022-08-11 17:22] mnonnenmacher commented on #5573
@pepper-jk Thanks for pointing out the inconsistency, I have created a PR to add an `issue` function.

[2022-08-12 10:48] #5573 closed

[2022-08-13 08:15] sschuberth commented on #5641
We should probably try to address this via https://github.com/eclipse/sw360/issues/1259 to not depend on a weekly build of the SW360 client library anymore at all.

[2022-08-13 08:25] sschuberth commented on #5629
I'm also a bit skeptical here...

I believe the whole "prior to open-sourcing" workflow is one that's different enough from our original / main "open source compliance" workflow that it at least justifies another tool in ORT (maybe something like a "publisher" / linter), and is probably not something that should be mangled into the advisor. Or, the existing advisor should be largely refactored to

[2022-08-13 08:46] sschuberth commented on #5626
While I also understand your use case @dgutson, I agree with @tsteenbe's [comment](https://github.com/oss-review-toolkit/ort/issues/5626#issuecomment-1204075429) that this goes against one of the fundamental design concepts of ORT: We always try to get all information that we can, and then eventually filter down or consider only relevant parts of the data in later steps. This way ORT results are m

[2022-08-13 10:47] sschuberth commented on #2694
I believe which approach to take depends on the use-case, @dgutson.

In their [original project description](https://github.com/fossology/fossology/discussions/2140#discussioncomment-1980805) the FOSSOLOGY people aim "to render the project dependencies created by ort and display those in the fossology-UI".

On the other hand, what I had in mind was to get FOSSOLOGY scan results in ORT.

From ORT p

[2022-08-13 11:26] #5589 closed

[2022-08-13 16:45] JadenFurtado commented on #4870
Hey, I would like to contribute to this project. Would Flask be a good fit for the APIs?

[2022-08-13 19:27] sschuberth commented on #4870
You mean [Python's Flask](https://palletsprojects.com/p/flask/)? IMO that would not be a good fit, as we'd prefer something JVM-native, i.e. a Java or (yet better) Kotlin framework. So far it seems our favorite would be [Ktor](https://ktor.io/), but we'll soon have a TSC meeting where Bosch is planning to share some updates.

But anyway this issue is not supposed to deal with the concrete framewor

[2022-08-14 16:27] JadenFurtado commented on #4870
Right, I got it.

Yup, I just saw that issue #4687 was opened to deal with the framework choice. Sorry, I didn't see it then.

[2022-08-16 12:45] sschuberth commented on #5547
@karippery would you mind giving https://github.com/oss-review-toolkit/ort/pull/5659 a try to see if that also works around this issue of yours?

[2022-08-17 15:33] sschuberth commented on #5038
FYI, MS & Canonical just announced [.NET 6 for Ubuntu 22.04](https://devblogs.microsoft.com/dotnet/dotnet-6-is-now-in-ubuntu-2204/), so now that [we are using Ubuntu 22.04](https://github.com/oss-review-toolkit/ort/pull/5651) we could install tooling as easy as `sudo apt install dotnet6`.

[2022-08-17 16:32] pombredanne commented on #5038
@sschuberth re:

That's very nice... note that `dotnet` installs alright on debian and ubuntu already (not as a base Ubuntu-provided package but as provided by Microsoft)

[2022-08-19 10:45] sschuberth opened #5668 "Record where curations came from"
Analyzer results that contain curations should record the provider a curation originates from. Maybe just the provider's (class) name would be enough, but e.g. for `CompositePackageCurationProvider` the real underlying provider should be recorded, and e.g. for `FilePackageCurationProvider` maybe some more details like the (relative) directory path would make sense.

Recording the origin / source o

[2022-08-22 05:57] stschroeder commented on #5520
Just a tiny hint: #2441 needs to be done first if you want to serve ORT via a Docker image. Bitbucket does not have support to create a Docker container on the fly using a Dockerfile as Jenkins does, see [Configure bitbucket-pipelines.yml](https://support.atlassian.com/bitbucket-cloud/docs/configure-bitbucket-pipelinesyml/#image).

[2022-08-22 10:23] #2592 closed

[2022-08-22 11:40] woznik opened #5670 "Ubuntu update java error: Cannot create worker GC thread. Out of system resources"
Hello
I have noticed that after an update (https://github.com/oss-review-toolkit/ort/commit/25c1e9a14273875808786a02aac043bde30126e1) from `focal` to `jammy` there is a java issue during docker build

[code]

After changing to focal (+composer and cargo) the image is built withouy issues.

I have tested these two images for java:

![image](https://user-images.githubusercontent.com/17202024/1859120

[2022-08-22 12:09] sschuberth commented on #5670
I'm not able to reproduce this on my side...

[2022-08-23 06:33] sschuberth commented on #4562
Great, then let's close this once the "experimental scanner" becomes the stable default by middle of September 2022, also see https://github.com/oss-review-toolkit/ort/pull/5674.

[2022-08-23 07:40] sschuberth commented on #5632
Some notes to myself, because I wondered about a few things while debugging this:

1. As no version is specified in "github:tinydesk/angular-tileview", [NPM will default to `master`](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#git-urls-as-dependencies).
2. The [version in `master` is 0.6.1](https://github.com/tinydesk/angular-tileview/blob/master/package.json#L3) (which is a whoppin

[2022-08-23 08:49] woznik commented on #5670
Hi @sschuberth
Do you mean the `java -version` check on focal vs jammy?
My I assume that there is no problem on building the image on your side with jammy release?

[2022-08-23 09:11] sschuberth commented on #5670
Correct. Building the Docker image (and running function tests *in* that image) is being [checked for every PR](https://github.com/oss-review-toolkit/ort/runs/7826119027?check_suite_focus=true).

[2022-08-23 09:38] sschuberth commented on #4347
Sure, feel free to just type what's on your mind 😁

But in order to continue the discussion I'd like to ensure we're all on the same page, as several terminologies were used and I fear we're not always talking about the same thing:

1. In a nutshell, Porsche wants a "diff" between original dependencies and dependencies in a later revision of the product. Eventually, the added and changed dependenc

[2022-08-23 09:47] sschuberth commented on #1029
Looks like [SARIF does not *require* to have a location](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317670) (plus annotation with a `startLine`) listed  after all. So we should be able to write a generic reporter (not starting with a specific package manager) that "simply" transforms the ORT result data model as good as possible to the [SARIF data model](https://g

[2022-08-23 11:44] dgutson commented on #1029
@sschuberth I don't see kuch value if we can't pinpoint the file where to apply the change. I think we need to tackle the package managers first so they provide location data.

[2022-08-23 11:58] #5632 closed

[2022-08-23 12:09] sschuberth commented on #1029
We seem to have different priorities then. To me, SARIF is just one report format like any other basically, and none of the other report formats currently "pinpoint the file where to apply the change" (let alone down to the line of code).

So, what I was mainly looking for is to capture any policy violations (caused by license compliance issues, or by security vulnerabilities) themselves in SARIF.

[2022-08-23 12:14] dgutson commented on #1029
@sschuberth it has been a long night (3 kids) and I was thinking in Google Scorecard which we are also maintaining and has a SARIF initiative. Let me come back to you later today. Sorry.

[2022-08-23 14:24] woznik commented on #5670
Thank you.
I will close the issue

[2022-08-23 14:24] #5670 closed

[2022-08-24 11:25] fviernau opened #5681 "ScanResult: Add a list of all files with checksum and directories"
A complete list of all file and directory names in the repository along with the checksum can be valueable for various use cases.
For example:

1. Compute the package verification code on-the-fly
2. Implement basic file / dir existence checks without the need for cloning the source code
3. Auto generate excludes based on directory names

Moreover, the serialized scan result is redundant in terms o

[2022-08-24 12:11] sschuberth commented on #5681
Some remarks from my side:
- How do we know what "all" files are? Scanners might only report files with findings (this is also true for ScanCode when run with the [`--only-findings` option](https://scancode-toolkit.readthedocs.io/en/stable/cli-reference/output-filters-and-control.html#only-findings-plugin)), so we cannot generally just use the files from the scanner's raw result.
  - If ORT should

[2022-08-25 07:09] tsteenbe commented on #5520
@stschroeder  Would you be interest to help develop a BitBucket Pipeline for ORT?

[2022-08-25 07:14] tsteenbe commented on #5629
@sschuberth  it would not be an advisor but more a new scanner plus new evaluator helper functions as non-inclusive language or "compliance string" checks are commonly only done on the source code / VCS history

[2022-08-25 09:11] nicorikken commented on #2441
Discussed at community at 25th of August::

License compliance as requirements including providing source code.

From there we can improve it, like the desire to scan ORT with ORT, for which so far nobody succeeded.

[2022-08-25 10:26] tsteenbe commented on #2441
@nicorikken  @heliocastro  and @tsteenbe are working on creating a ORT "sources" image e.g. the complete corresponding source code to satisfy open source license obligations.

If people are interested in joining this effort please reach out to me to be added to our sync meetings/slack channel on this topic.

[2022-08-25 19:58] sschuberth commented on #2694
In probably mid September @mnonnenmacher plans to make the currently experimental new scanner API the default. That's probably a good point to start writing a new (remote) scanner wrapper against the FOSSOLOGY API.

[2022-08-26 02:17] dgutson commented on #2694
Ok! Let us know pls. Let's address this then.

[2022-08-26 06:52] sschuberth opened #5696 "Set up a scheduled job that runs ORT on ORT"
For the sake of "eating our own dog food" and to showcase how ORT performs on a rather big / complex project like ORT itself, we should run ORT on ORT regularly. This would also get us any compliance documents / artifacts that are eventually needed for [distributing ORT as a Docker image](https://github.com/oss-review-toolkit/ort/issues/2441).

Several contributors have already worked on this topi

[2022-08-26 06:54] sschuberth commented on #2441
I've filed #5696 for that.

[2022-08-26 07:27] nicorikken commented on #5696
Bootstrapping dependency order discussed on the 25th of August:

1. Containerized ORT version for the ORT scanning Action
2. ORT scanning GitHub Action
3. Integration of the ORT scanning Action in the ORT GitHub Actions pipeline
4. Speed up scans using caching to prevent time-out
5. Provide curations and fix issues to make it not fail

Going by the experiences discussed ORT currently requires quit

[2022-08-26 07:30] sschuberth commented on #5696
Correct. Ideas that were discussed include using ClearlyDefined as a global scan storage (required fixing of https://github.com/oss-review-toolkit/ort/issues/4540) or implementing a new scan storage based on IPFS (see https://github.com/oss-review-toolkit/ort/issues/1328).

[2022-08-26 07:38] sschuberth commented on #5613
This has implicitly happened with https://github.com/oss-review-toolkit/ort/pull/5651.

[2022-08-26 07:38] #5613 closed

[2022-08-26 10:24] sschuberth commented on #4540
For anyone who's still affected by this, can you please share your ORT analyzer result for a public (and as small as possible) project where you can reproduce the scanner freeze?

[2022-08-26 11:15] sschuberth commented on #5641
@nicorikken do you still see this happening now that https://github.com/oss-review-toolkit/ort/pull/5697 is merged?

[2022-08-26 13:37] fviernau opened #5701 "Eliminate redundancy with example policy rules"
Both repositories, `ort` and `ort-config` currently contain example policy rules. In fact the `ort-config` ones have initially been created based on ORT's one and then extended. So, it's currently not clear what the right place for examples rules is.

Fix this as follows:
- The place for real world examples from now on should be `ort-config` repository
- ORT's example policy rules should be moved

[2022-08-30 11:58] #4357 closed

[2022-08-30 13:22] schvvarzekatze commented on #4540
I still have the freeze for the following package:
[code]

[2022-08-30 15:50] mnonnenmacher opened #5715 "Use camel case instead of snake case for YAML configuration files"
ORT currently uses snake case for all YAML configuration files. Migrating to camel case would bring the following benefits:

* The property names in the configuration file could exactly match the names used in Kotlin code, this makes it easier to locate them with a code search, for example in a refactoring.
* `kotlinx.serialization` does not support snake case, so we currently cannot use it. Using

[2022-08-30 15:50] mnonnenmacher commented on #5715
@sschuberth You mentioned that the `kotlinx.serialization` developers stated they will never support snake case, if you have a link, can you post it here?

[2022-08-30 16:36] sschuberth commented on #5715
See the lengthy discussion at https://github.com/Kotlin/kotlinx.serialization/issues/33 which does not seem to reach a conclusion.

[2022-08-30 17:14] RESDXChgfore9hing opened #5717 "gradle build a portable fat jar?"
would be awesome to have this and also can do a github release for quick download and use

[2022-08-30 17:31] sschuberth commented on #5717
For a fat Jar run `./gradlew shadowJar`, for a GitHub release see https://github.com/oss-review-toolkit/ort/issues/1901.

[2022-08-30 17:31] #5717 closed

[2022-08-31 07:05] sschuberth commented on #4540
Just using that single artifact in `ClearlyDefinedStorageFunTest` still passes. So it's not a matter of a specific artifact being used, but a sum of artifacts that probably triggers some race condition. I'd really need a full analyzer result file for which the hanging in the scanner reproducibly happens.

[2022-08-31 08:58] mawl opened #5721 "How to suppress the error "AnalyzerResult contains packages that are also projects.""
Hey,

How can we suppress following error concerning npm dependencies in a monorepo? Some of the dependencies are also projects in it.

[code]

https://github.com/oss-review-toolkit/ort/blob/30ddfedb0cb9133836d4a33ff52aafeecbfdd9cd/analyzer/src/main/kotlin/AnalyzerResultBuilder.kt#L53

[2022-08-31 10:28] sschuberth commented on #5495
This has been done in https://github.com/oss-review-toolkit/ort/pull/5700.

And meanwhile [ScanCode 31.1.0](https://github.com/nexB/scancode-toolkit/releases/tag/v31.1.0) is available.

[2022-09-01 07:28] fviernau opened #5725 "Gradle: `generateSpdxEnums` fails fetching files from ScanCode repo"
I've tried multiple times on my machine, but each time the task fails [1].
The reason for that may be [2].

A solution could be to re-write fetching data to simply download the zip archive instead of using `SvnExport`.
This downloads more data but can be ok as the task is not performed frequently.

[1]
[code]
[2] https://gramps.discourse.group/t/problem-downloading-gramps-source-code-from-github-u

[2022-09-01 07:43] sschuberth commented on #5725
I also once had a rewrite in mind to get rid of `SvnExport`, by leveraging https://docs.github.com/en/rest/repos/contents.

[2022-09-01 10:38] sschuberth commented on #5725
I'll investigate some alternatives to rewrite the code.

[2022-09-01 10:57] tsteenbe commented on #5725
Just to provide some context - I stumble upon this bug as I was trying to update ORT to SPDX license list 3.18.

[2022-09-02 08:14] bruzzlerli opened #5729 "dependency_graphs: empty node '{ }' instead of '{ "pkg" : 0 }'"
I was analyzing a CSharp project. During the analysis of the 'dependency_graphs' I found that a node reference to package 0 was missing. It looks like the JSON exporter avoids to export the key 'pkg' on a zero value. (see image)

![grafik](https://user-images.githubusercontent.com/59935209/188095516-ac1c857e-9f21-4e20-80b8-376213b47834.png)

[2022-09-02 09:47] sschuberth commented on #5729
@oheger-bosch is this a [NodeKey](https://github.com/oss-review-toolkit/ort/blob/26e60c4288f5ef458d89ba574d8474e83b08d933/model/src/main/kotlin/utils/DependencyGraphBuilder.kt#L464-L467) object being serialized here?

[2022-09-02 11:26] schvvarzekatze commented on #4959
I also tried to reproduce it on an empty sample project only containing the `protonpack` dependency:

Here the steps:

Analyzer result:
[code]

Scanner:
[code]

Evaluator:
[code]

Reporter (NOTICE)
[code]

[2022-09-02 14:00] #4051 closed

[2022-09-05 07:25] #5725 closed

[2022-09-05 14:14] pepper-jk opened #5739 "package-configuration file parsing bug"
## Preparation:

I created a package-configuration for `PyPI::pillow:9.2.0` based on the examples in https://github.com/oss-review-toolkit/ort-config.

[code]

## Bug:

I then tried to pass it to `ort-evaluate` via `--package-configuration-file path/to/source-artifact.yml`, but this produces the following error (on both 1020272b9baeabe28a685e4dfa43ba380e66f6b1 and 3696a8eb960da464481ea9295fdca8b54

[2022-09-05 14:36] pepper-jk opened #5740 "python-inspector specify platform support"
## Context:

We have some windows python tools, which are scanned with ORT for licensing purposes. Even though the tool is created for windows and scanned on linux, ORT collects the macOS artifacts of the dependencies:

![2022-09-05 15 20 50-ORT Scan Report — Mozilla Firefox](https://user-images.githubusercontent.com/19859589/188470234-258e81a6-2aff-44e6-8533-f90bcb5e46b6.png)

## Feature Request:

[2022-09-05 15:04] sschuberth commented on #5739
Note that the YAML file you point the `--package-configuration-file` option at is supposed to contain a list / array of package configurations, not a single package configuration. So by design you're not supposed to point that option at a single package configuration file from a hierarchy of package configurations. The latter is what `--package-configuration-dir`. So you should only use either opt

[2022-09-05 15:08] sschuberth commented on #5641
I'm closing this for now. Feel free to reopen if it reoccurs.

[2022-09-05 15:08] #5641 closed

[2022-09-05 15:10] sschuberth commented on #5740
This is also semi-related to the general issue described at https://github.com/oss-review-toolkit/ort/issues/4013.

[2022-09-05 15:22] nicorikken commented on #5721
I ran into the same issue unintentionally as the conflict sees to come from a directory I excluded, so I'm interested in other ways to work around this error.

Perhaps in the mono-repo setup you can scan all projects (subdirectories) separately to avoid the issue of duplicate dependencies?

[2022-09-05 16:05] sschuberth opened #5741 "Rework the curation / package configuration mechanism to better match roles in a workflow"
In a typical ORT-workflow, different people with different roles have to deal with different parts of ORT's configuration. Let's leave administrative configuration in `ort.conf` / [config.yml](https://github.com/oss-review-toolkit/ort/pull/5678) (that is rather static and typically created once when setting up ORT and its required infrastructure initially) aside here and focus on "runtime configur

[2022-09-06 05:23] nicorikken commented on #5721
I got an answer through chat for my situation by @sschuberth that clarified the inner workings for me:

[2022-09-06 11:20] pepper-jk commented on #5739
Could you provide an example? I fail to find one in the config repo.

Do you mean a index/list of individual pkg config files, or a file containing all pkg config files, but in a YAML list structure?

[2022-09-06 11:25] pepper-jk commented on #5739
Wait! So the `-dir` param points to a directory of files, without supporting any kind of (sub-)directory structure? And the `-file` param points to an index file for a more complex directory structure?

From a certain point of view this is the total opposite of what a user would expect.

Why not parse all yaml files in a directory no matter the dir structure? This would be way more user friendly a

[2022-09-06 11:30] pepper-jk commented on #5740
In the merge attached to this issue I found this:

[code]
https://github.com/oss-review-toolkit/ort/pull/4011/files#diff-fdaab681c9cf677a77196de07d376e9e12656aa18af3d7d293a0d4e24f6e0088R181-R182

Can I specify this within a package configuration?

If so, this would be a possible workaround until specifying the platform is possible. It also would not require to build a modified ort-image.

[2022-09-06 14:59] bruzzlerli commented on #5038
Perhaps this project is worth a look in scope of this issue:

https://github.com/tomchavakis/nuget-license

There are nice flags like `--use-project-assets-json` (`dotnet restore` required first)

[2022-09-06 19:05] mnonnenmacher commented on #5721
This check was introduced in df84062 because if the analyzer result contains projects and packages with the same identifier this can lead to unexpected behavior in later steps. It usually indicates an issue in the package manager implementation which did not correctly identify a project dependency.

@mawl @nicorikken Please provide example projects that reproduce this issue so that we can identify

[2022-09-06 19:19] mnonnenmacher commented on #5740
@pepper-jk We are currently waiting for https://github.com/nexB/python-inspector to provide metadata for packages. Once this is implemented, we can get independent of the local operating system and the installed Python version, and will make these available as package manager options which can be set in the `.ort.yml` and on the command line. This will hopefully happen soon, until then we have to

[2022-09-06 23:27] DaveJarvis opened #5748 "Yarn fails to download due to issuer certificate"
**Replicate**

The following steps may fail:

[code]

**Expected**
Build succeeds.

**Actual**
Build fails with:

[code]

**Work around**
Update the `.yarnrc` file:

[code]

[2022-09-07 08:05] sschuberth commented on #5748
That sounds to me as if it's a problem with your local setup. Are you maybe behind a corporate proxy that tampers with SSL certificates? Also see [this answer](https://stackoverflow.com/a/30341389/1127485) on StackOverflow.

[2022-09-07 10:52] #5550 closed

[2022-09-07 15:35] DaveJarvis commented on #5748
That seems to be the case. We have to install custom certs for Java. Also, Gradle wouldn't download its .zip archive, which was strange because usually installing the cert is sufficient for Gradle to work.

[2022-09-07 16:33] sschuberth commented on #5748
Ok, then there's probably nothing on the ORT side we can do to address this. You might, however, want to have a look at the related [scripts](https://github.com/oss-review-toolkit/ort/tree/main/scripts) we provide and how we're using them in the [Dockerfile](https://github.com/oss-review-toolkit/ort/blob/main/Dockerfile) to get an idea how to tackle the issue on your side.

[2022-09-07 20:26] mnonnenmacher commented on #5729
This is a `DependencyGraphNode` object, the reason is the `@JsonInclude(JsonInclude.Include.NON_DEFAULT)` class annotation. I just confirmed this using this code:

[code]

However, this is not an issue as the node is deserialized correctly as the output of above code shows:

[code]

I will close this issue as it is working correctly within ORT and the result files are not supposed to be parsed by

[2022-09-07 20:26] #5729 closed

[2022-09-08 00:11] DaveJarvis commented on #5748
Consider adding an example to the documentation. I've been trying to figure this out for a while and it isn't immediately obvious how to build with a custom certificate. For example, I've tried:

    git clone https://github.com/oss-review-toolkit/ort
    ~/dev/ort$ DOCKER_BUILDKIT=1 docker build --build-arg CRT_FILES=proxy.crt .

This doesn't work out-of-the-box. We've changed

The ordering of th

[2022-09-08 06:30] sschuberth commented on #5748
Pull requests are welcome! Please note your [contribution guidelines](https://github.com/oss-review-toolkit/.github/blob/main/CONTRIBUTING.md).

My understanding is that e.g. the people at Bosch are using the current mechanism to successfully inject certificates. Can you confirm @MarcelBochtler et al?

[2022-09-08 07:51] sschuberth commented on #5748
Nevermind, I'll come up with something as I just found more stuff I'd like to get addressed in this context.

[2022-09-08 10:35] tsteenbe opened #5759 "Use scancode-licensedb.aboutcode.org to map SPDX to ScanCode key for notice creation"
Currently ORT parses files of ScanCode licensedata files to create a map SPDX identifiers to ScanCode key to include license texts in generated noticed. We can obtain the same mapping from either https://scancode-licensedb.aboutcode.org/index.json or https://scancode-licensedb.aboutcode.org/index.yml.

[2022-09-08 15:25] DaveJarvis commented on #5748
After over an hour trying to make it work without success, a PR probably won't be forthcoming anytime soon.

What commands are being issued to inject the cert?

[2022-09-08 19:13] DaveJarvis commented on #5748
Ran the following command with the attached Dockerfile:

[code]

Still failed. Tried numerous ways and settings to disable/work around the SSL issue. See attached log file.

[build.log](https://github.com/oss-review-toolkit/ort/files/9529935/build.log)

Try this:

[code]

The response `<body>` shows that JavaScript is required:

[code]

This, of course, will break any command-line tooling. Not sur

[2022-09-09 04:51] sschuberth commented on #3287
There is now a public instance hosted at https://public.vulnerablecode.io/, also see https://github.com/nexB/vulnerablecode/issues/253.

[2022-09-09 07:34] fviernau opened #5763 "helper-cli: Provide a command to generate path excludes for package configurations"
The creation of `PathExclude`s for package configurations is to some extend a repetitive task.

A `helper-cli` command should be added which automates this by generating path excludes which are **very likely
but not necessarily apply**. That command should assume that the output of the command always needs a manual review.

**Potential input**

1. file paths
  - Some directory name patterns can al

[2022-09-09 09:32] mawl commented on #5721
Here is an example project reproducing this issue.

[package-project.zip](https://github.com/oss-review-toolkit/ort/files/9534206/package-project.zip)

We had to use a local package approach for that as we usually publish our packages to our private registry.

[2022-09-09 17:06] DaveJarvis commented on #5748
The following makes it most of the way through:

[Dockerfile.txt](https://github.com/oss-review-toolkit/ort/files/9537385/Dockerfile.txt)

Using the following incantation:

    DOCKER_BUILDKIT=1 docker -D build --network="host" --build-arg CRT_FILES=proxy.crt .

Results in:

[code]

[2022-09-09 23:15] DaveJarvis commented on #5748
The latest problem appears to be that the Haskell shell scripts being pulled down themselves are using curl. However, curl isn't picking up the installed certificates. I tried loosening up the curl command by providing an alias:

    RUN alias curl='curl --cacert "/etc/ssl/certs/cacert.pem" --insecure '

The command still failed.

[2022-09-12 05:37] durr-hackenberg opened #5771 "Unable to determine a revision to checkout."
Good morning,

is there a procedure to fix this error ?

`cicd-oss-scan-1  | 08:46:56.466 [main] INFO  org.ossreviewtoolkit.downloader.Downloader - Failed attempt to download source code for 'Maven:org.openapitools:openapi-spring:0.1.0' from VcsInfo(type=Git, url=https://github.com/spring-projects/spring-boot.git, revision=, path=) took 381.383400ms.
cicd-oss-scan-1  | 08:46:56.469 [main] INFO  or

[2022-09-12 06:06] mnonnenmacher commented on #5771
@durr-hackenberg It looks like 'Maven:org.openapitools:openapi-spring:0.1.0' does not set SCM information in the POM file and therefore inherits it from a Spring Boot parent POM file. This is a common issue in Maven projects and can be fixed by either setting the SCM information (if the project is under your control) or by creating a [curation](https://github.com/oss-review-toolkit/ort/blob/main/d

[2022-09-12 06:06] #5771 closed

[2022-09-12 06:13] durr-hackenberg commented on #5771
Thank you for you feedback.  I looked at the dependency tree. unfortunately I can't find this dependency anywhere. This is a bit strange. Can I also ignore a specific dependency completely so that the scan doesn't stop ?
Is there a way to see where this dependency comes from ?

[2022-09-12 06:41] mnonnenmacher commented on #5771
You can either directly search for it in the analyzer result file or generate a web app report (`ort report -f WebApp ...`) and look for the dependency there.

[2022-09-12 07:49] #5759 closed

[2022-09-12 19:45] DaveJarvis opened #5782 "Stuck at JNI boundary?"
# Background

A Java application has ties to a C/C++ program via the JNI.

# Problem

ORT did not complete processing the build.gradle file, yet gave no indication as to an error.

      ~/dev/ort/bin/ort --info analyze -f JSON -i . -o ./ort/analyzer
      12:34:06.484 [DefaultDispatcher-worker-1] INFO  org.ossreviewtoolkit.analyzer.PackageManager - Resolving Gradle dependencies for path 'conforma

[2022-09-12 20:05] sschuberth commented on #5782
Are you able to share the source code to the project?

Also, do you get more details when running with `--debug`?

[2022-09-12 20:10] DaveJarvis commented on #5782
Proprietary, sorry. I'll see about running with `--debug` (aside, it'd be nice to add that option to the README.md file in the debugging section).

[2022-09-12 20:14] DaveJarvis commented on #5782
Ran using:

    ~/dev/ort/bin/ort --debug --info analyze -f JSON -i . -o ./ort/analyzer

No additional processing information was written to the console.

Perhaps the first task in tracking this down would be to add more logging into the system around the resolver?

    13:13:20.211 [DefaultDispatcher-worker-1] INFO  org.ossreviewtoolkit.analyzer.PackageManager - Resolving Gradle dependencies for

[2022-09-12 20:37] sschuberth commented on #5782
That's probably because you use both `--debug` and `--info`, and the latter overrides the former. Please use `--debug` *instead* of `--info` (or put `--debug` last).

[2022-09-12 21:52] DaveJarvis commented on #5782
Hangs here:

    14:32:37.186 [DefaultDispatcher-worker-1] DEBUG org.gradle.tooling.GradleConnector - Connecting from tooling API consumer version 7.5.1

[2022-09-13 13:27] pepper-jk commented on #5740
I can confirm that I get the same macOS artifact for pillow with this [example repo](https://github.com/pepper-jk/ort_pypi_resolution_test), that only contains our requirements.txt.

I used our production pipeline for the scan, though. It is possible that our gitlab pipeline introduces something that triggers it or the ort-config we use. I doubt the latter though, since our base config does not co

[2022-09-14 08:39] schvvarzekatze commented on #4959
I tried to fix it manually with this curation in the `curations.yml`:
[code]
The evaulator was run with --package-curations-file "/project/ort/curations.yml"

But also this did not help to fix the issue. Do you have an idea what could be the reason?

[2022-09-14 18:48] ghost opened #5798 "Undetected jinjava license"
Using [jinjava](https://github.com/HubSpot/jinjava) 2.4.1 does not get its license detected:

    jq '.analyzer .result .packages[] .package | (.id +" "+ .declared_licenses_processed.spdx_expression)' < analyzer-result.json | grep -i jinj
    "Maven:com.hubspot.jinjava:jinjava:2.4.1 "

Looks like it is licensed under Apache 2.0:

https://github.com/HubSpot/jinjava/blob/master/LICENSE

[2022-09-14 19:45] sschuberth commented on #5798
So you're looking at the `analyzer-result.json`. That file is not supposed to contain *detected* licenses as found by a scanner in files like a `LICENSE` file, but only licenses *declared* as part of package manager metadata. And indeed, the [POM](https://repo1.maven.org/maven2/com/hubspot/jinjava/jinjava/2.4.1/jinjava-2.4.1.pom) does not contain any [licenses tag](https://maven.apache.org/pom.htm

[2022-09-14 20:32] DaveJarvis commented on #5798
Thanks! I'll file an issue against jinjava.

[2022-09-14 20:32] #5798 closed

[2022-09-15 08:55] mnonnenmacher commented on #1894
To show applied license finding curations in the web app reporter they need to be added to the evaluated model. Currently the `EvaluatedFinding` only contains applied path excludes:
https://github.com/oss-review-toolkit/ort/blob/main/reporter/src/main/kotlin/reporters/evaluatedmodel/EvaluatedFinding.kt

[2022-09-15 09:08] durr-hackenberg opened #5802 "downloader ssh auth failed / file cache behavior"
Hello,

sometimes GitHub calls will triggernd with SSH and Fail with "Auth failed". How can I solve the problem ? Do I need to create a .gitconfig ?
![image](https://user-images.githubusercontent.com/99266785/190362440-220c8c4d-dbe4-4bd5-ae34-e0cb083d1317.png)

And I have another question regarding file cache. if I subsequently create a curlation.yml with an entry for a VSC and then run the scanne

[2022-09-15 09:22] sschuberth commented on #5802
The easiest way probably is to run an SSH agent on the machine running ORT.

Please don't ask multiple unrelated questions in the same issue; that makes it hard for us to decide when to close the issue.

No binaries are being overwritten because none are stored by ORT. However, package metadata is over*ridden* by package curations. By [default](https://github.com/oss-review-toolkit/ort/blob/63e002

[2022-09-15 09:41] durr-hackenberg commented on #5802
Ok, sorry :)
Thank you for the answer. I think with that it is clear for me!

[2022-09-15 09:41] #5802 closed

[2022-09-15 17:28] raviteja0312 commented on #5177
I am currently using nexus oss 2.13.1 version and facing same issue for scoped packages, so what version should i upgrade to download scoped packages without any error?

[2022-09-16 06:59] sschuberth commented on #4051
This is now being enabled as part of https://github.com/oss-review-toolkit/ort/pull/5805.

[2022-09-16 07:59] sschuberth commented on #5302
@ppuritscher @porsche-rishisaxena this is the issue you're also affected by.

[2022-09-16 13:26] sschuberth commented on #5547
I'm reopening this as I now believe to have found the real root case. Watch this space 😃

[2022-09-16 13:32] karippery commented on #5547
I didn't find the solution for this issue.  that's why I used gitlab version of ORT

[2022-09-16 13:37] sschuberth commented on #5547
See the linked PR https://github.com/oss-review-toolkit/ort/pull/5814 for the solution.

[2022-09-16 15:00] #5547 closed

[2022-09-16 21:15] arieltorti commented on #4347
If I understand it correctly I would say 2 is a non functional feature that would reduce ORT execution times.

We're interested in option 1. Having a "diff" (delta) of dependencies between two analysis at the report stage: which dependencies were updated/added/removed.

[2022-09-19 00:07] porsche-rbieniek opened #5818 "Potential SnakeYaml version upgrade issue"
The latest release versions of SnakeYaml, the YML parser used by ORT, it is no longer possible to parse ORT files larger than 3 MB in size

The symptom is an exception similar to this:

[code]

The problem seems to be introduced as part of the fix for CVE-2022-25857

There is currently no other workaround except fixing the snakeyaml version to 1.30

[2022-09-19 22:26] mnonnenmacher commented on #5818
We will eventually want to upgrade anyway and I could not find a way to override the limit. Not being able to parse YAML files larger than 3MB would make the file format useless for us so I have asked the devs if they can confirm that my assumption is correct: https://github.com/FasterXML/jackson-dataformats-text/pull/335#issuecomment-1251631287

[2022-09-20 06:43] sschuberth commented on #5818
As explained [here](https://github.com/FasterXML/jackson-dataformats-text/pull/335#issuecomment-1251689145) we could always use Gradle to force the transitive SnakeYaml version to 1.31 (or even 1.30), as most users probably aren't affected by the evoked CVEs anyway.

PS: Slightly off-topic, but with all the removals of the custom deserializers recently, I'm really looking forward to https://github

[2022-09-20 08:02] mnonnenmacher commented on #5818
Efforts to make the size limit configurable are now tracked in https://github.com/FasterXML/jackson-dataformats-text/issues/337.

[2022-09-20 08:04] mnonnenmacher commented on #5818
Apart from potential technical issues we would first have to migrate all config files to use camel case, I think that's still a long way to go.

[2022-09-20 19:33] unclejay80 opened #5834 "CocoaPods IOException resolving pod based on Git"
Got this error in the web report:

[code]
from the logfile (with level warn):
[code]

Because of this the whole content of the Podfile is ignored.

Should also happen with the following project: https://github.com/vector-im/element-ios
Problem seems to be this line: https://github.com/vector-im/element-ios/blob/develop/Podfile#L76 :

`pod 'AnalyticsEvents', :git => 'https://github.com/matrix-org/m

[2022-09-20 19:55] sschuberth commented on #5834
Thanks for the report @unclejay80! As a stop-gap measure I've created https://github.com/oss-review-toolkit/ort/pull/5835. But you'll still be missing metadata for that package I believe.

[2022-09-20 19:59] #5411 closed

[2022-09-20 21:33] lucasgonze opened #5837 "Bug: npm version comparison in `requirements`"
`ort requirements` is returning this assessment of npm:

`	+ Npm: Requires 'npm' in version >=6.0.0 <8.6.0. Found version 8.18.0.
`

8.18.0 is within the required range, but has the `+` flag to show:

[2022-09-20 21:51] unclejay80 opened #5838 "Advisor error with OSSIndex java.io.IOException: retrofit2.HttpException: HTTP 500"
got the following error

[code]

project comparable to https://github.com/vector-im/element-ios

[2022-09-20 22:01] unclejay80 commented on #5834
great :) thanks!! working now - metadata is still missing. Do you want to keep the issue open for the metadata stuff or what would you recommend?

[2022-09-20 23:20] lucasgonze opened #5839 "requirements command not finding utilities"
When I run ./cli/build/install/ort/bin/ort requirements certain items are not found, but I am confident they are on the system. Can you help by describing how the algorithm for finding these tools works?

`- ScanCode: Requires 'scancode' in no specific version. Tool not found.`

Scancode is definitely installed and running.

[code]

These work when invoked directly as `pip` or `pipenv`, but are no

[2022-09-20 23:58] lucasgonze opened #5840 "scripts/docker_build.sh throws error #9 50.68"
Summary: scripts/docker_build.sh throws this error:
[code]

Platform:
- MacOS 11.6
- M1 2020

Requirements status:
[requirements-log.txt](https://github.com/oss-review-toolkit/ort/files/9611894/requirements-log.txt)

Runtime log:
[ort-log.txt](https://github.com/oss-review-toolkit/ort/files/9611895/ort-log.txt)

[2022-09-21 06:20] #5838 closed

[2022-09-21 06:27] sschuberth commented on #5840
Probably related to https://github.com/oss-review-toolkit/ort/issues/5411 which was (hopefully) addressed by https://github.com/oss-review-toolkit/ort/pull/5832 that was just merged 10 hours ago. Have you tried a version of ORT with that PR included?

[2022-09-21 06:30] sschuberth opened #5841 "Support getting metadata for CocoaPods packages hosted in custom Git repos"
Thanks for the report @unclejay80! As a stop-gap measure I've created https://github.com/oss-review-toolkit/ort/pull/5835. But you'll still be missing metadata for that package.

_Originally posted by @sschuberth in https://github.com/oss-review-toolkit/ort/issues/5834#issuecomment-1252838215_

[2022-09-21 06:32] sschuberth commented on #5834
I decided to create a [follow-up issue](https://github.com/oss-review-toolkit/ort/issues/5841) with a more specific title.

[2022-09-21 06:32] #5834 closed

[2022-09-21 06:33] sschuberth commented on #5841
We should support declarations like the one at https://github.com/vector-im/element-ios/blob/7c3b578ad238c074b69daf31b5c20558ad146111/Podfile#L76.

[2022-09-21 06:35] sschuberth commented on #5837
Version 8.18.0 is not below version 8.6.0 as 18 > 6. So I believe all is correct.

[2022-09-21 06:35] #5837 closed

[2022-09-21 06:42] sschuberth commented on #5839
That's the key point, ORT basically uses the same approach as `which` by simply [looking at the `PATH` environment variable](https://github.com/oss-review-toolkit/ort/blob/84517788849e5efa2909baf23ebd9217f19ff28f/cli/src/main/kotlin/commands/RequirementsCommand.kt#L117).

Things to check:
- Maybe the `PATH` environment is different for the user running ORT than for the user you're running interact

[2022-09-21 21:13] unclejay80 opened #5847 "Android Gradle error resolving modules"
Got several errors with an Android project ( https://github.com/vector-im/element-android ) which has several sub modules:
https://github.com/vector-im/element-android/blob/develop/settings.gradle

The syntax with `:` in settings.gradle file is pretty standard for android projects but seems to be a problem for ort. The : is refering to subfolders with the same name.

Maybe it makes sense to ignore

[2022-09-21 21:25] sschuberth commented on #5847
Duplicates https://github.com/oss-review-toolkit/ort/issues/4694.

[2022-09-21 21:25] #5847 closed

[2022-09-21 21:53] lucasgonze commented on #5840
Thanks for this suggestion. fetch and rebase made the earlier issue go away. There is now a different failure in the build process. Log: [log2.txt](https://github.com/oss-review-toolkit/ort/files/9620643/log2.txt)

Highlight of the log:
[code]

Notes:
- Just before running the above command I did `nvm use 16`
- yarn is already installed

[2022-09-21 22:17] unclejay80 opened #5848 "Reporter with NoticeTemplate almost empty notice file"
tested with ort-gitlab-ci

All other reports with WebApp and Co are full with information. When generating Notice
with `-O NoticeTemplate=template.id=default,summary`  the notice file is pretty empty. Just the first lines from the templates are visible.

Any idea what could go wrong?

[2022-09-22 06:15] sschuberth commented on #5840
I believe that's not the crucial part, but

[code]

So maybe just network flakyness? Anyway, hard to debug without an M1. For the fun of it you could try to omit the line `add-apt-repository -y ppa:git-core/ppa`.

[2022-09-22 06:16] sschuberth commented on #5840
Maybe @MarcelBochtler can help here.

[2022-09-22 20:47] fviernau opened #5853 "Evaluator rules: Allow for making checks against the commit history of the project's code repository"
This ticket has been extracted from #5621.

Umbrella use case: "Prior to open sourcing policy rules
Perform checks against the commit history:
- flag revealing secrets, code names and so forth
- check non-exclusive language in commit messages
- ...tbc
- idea: maybe authors / emails

[2022-09-22 20:49] fviernau commented on #5621
The initial scope (ticket description) had been changed to the use case defined in the comment above: https://github.com/oss-review-toolkit/ort/issues/5621#issuecomment-1202715682. All except one have been implemented which I extracted to a separate ticket [1], so this can be closed as completed.

Note: For the implementation of the use cases see merged PRs linked above.

[1] #5853

[2022-09-22 20:49] #5621 closed

[2022-09-23 09:48] oheger-bosch opened #5855 "StackOverflowError in DependencyGraphBuilder"
There seem to be constellations in which the `DependencyGraphBuilder` can run into a loop that eventually fails with a `StackOverflowError`. This has been detected in a Gradle Android project using the following dependencies:

[code]
The resulting exception looks as follows (with many lines suppressed):
[code]

[2022-09-24 19:34] woznik commented on #5434
Hello @jens-erdmann
I do reproduce the same issue for the recent commit 4048e7f5481d335b598e4d6b68f5676955c8e68b
The cache cannot be mounted with `--mount=type=bind` as it is still not implemented in kaniko from my knowledge https://github.com/GoogleContainerTools/kaniko/issues/1568
Have you succeed in building ort image with kaniko?

[2022-09-25 21:00] jens-erdmann commented on #5434
Sadly no. We are back to square one again and are building it manually.

[2022-09-26 11:38] mawl commented on #5721
@mnonnenmacher: I have provided an example. Do you have any news for us concerning the progress? Thanks.

[2022-09-27 08:21] #5855 closed

[2022-09-27 10:14] mawl opened #5871 "After the new "component-based" Dockerfile we have python3/virtualenv/pip not found errors"
After your changes from https://github.com/oss-review-toolkit/ort/commit/10b38cb65955e18bac471f06ec2c25a1d19e544a we get errors like:

[code]
or

[code]
Or
[code]

We have build your Dockerfile from scratch - docker inline caching or anything else is deactivated.

Thanks for your help.

Regards, Marco

[2022-09-27 10:35] mnonnenmacher commented on #5871
Could it be that you set a custom entrypoint? ORT now needs to be executed in a login shell to find the installed tools, that's why the default entrypoint is set to: https://github.com/oss-review-toolkit/ort/blob/main/docker/ort-wrapper.sh

[2022-09-27 10:43] sschuberth opened #5874 "Retag "expensive" tests"
Not yet. #5865 only enabled the build scans for tests to *get the durations of tests*. We'd still need to agree on from when on a test counts as "expensive", retag all tests accordingly, exclude expensive tags from PR runs, and set up a new job that runs expensive tests on a nighly basis. I don't have the time to work on all of this.

To get a feeling for recent test durations, see
* [(unit) tests

[2022-09-27 10:45] sschuberth commented on #5874
@oss-review-toolkit/kotlin-devs from what duration on should we regard a single test case as "expensive"? 30s? 1m? For our current test durations please see the links above.

[2022-09-27 11:31] mnonnenmacher commented on #5874
I'm not sure, the tests at he top of the list are all tests I would prefer to run on each change, I often rely on the CI tests because it's sometimes hard to know which tests might be affected by a change. Maybe we should instead look into the specific test cases and check if they can be made faster, for example by reducing the size of the test projects.

[2022-09-27 11:49] sschuberth commented on #5874
Apparently [that wasn't possible for a recently added test](https://github.com/oss-review-toolkit/ort/pull/5857#discussion_r978578997). So how about instead removing the `ExpensiveTag` (as we're not using / maintaining it away) and instead introduce a `NightlyTag` for tests that we want to only run once a night / day (for whatever reason)?

[2022-09-27 12:19] mawl commented on #5871
@mnonnenmacher: We were using /opt/ort/bin/ort, which is now /usr/bin/ort (this is where the ort-wrapper.sh gets copied to). Thank you for your fast reply. Now it works again.

[2022-09-27 12:19] #5871 closed

[2022-09-27 12:45] mnonnenmacher commented on #5874
I like `NightlyTag` because it's more specific than `ExpensiveTag`.

[2022-09-27 15:27] jens-erdmann commented on #5434
Update: I just built the latest version of ORT with v1.9.1 of Kaniko. Latest changes to the Dockerfile seem to enable it again.

[2022-09-27 15:27] #5434 closed

[2022-09-28 23:07] lucasgonze commented on #5837
I apologize for investing your time in that.

[2022-09-29 08:00] mnonnenmacher commented on #5837
@lucasgonze FYI, I have created a PR to relax the NPM version requirements and upgrade to 8.15.1: #5881

[2022-09-29 09:52] sschuberth commented on #5837
No worries, that one was easy 😉

[2022-09-30 14:24] #5763 closed

[2022-09-30 16:15] fb33 opened #5893 "Scanner storage format"
Hi,

Since I updated the source code from August 19 to September 29 for my docker ort image, I've some troubles during the scan.

It seems to be unable to read the old read the old scan result from DB.

[code]

I missed a migration action to apply?

[2022-09-30 16:29] sschuberth commented on #5893
Yes 😉 See https://github.com/oss-review-toolkit/ort/pull/5827. There is no `resolved_revision` field anymore.

[2022-09-30 16:29] #5893 closed

[2022-09-30 16:30] fb33 opened #5894 "[Docker] git clone via SSH fails"
Hi,

Since I updated the source code from August 19 to September 29 for my docker ort image, I've some troubles during the scan.

Now, when I'm running ORT, I add `-u ort:ort`, but I'm facing with some errors during git clone due to the user.

[code]
Any idea ?

[2022-10-04 07:06] fviernau opened #5899 "Scanner: Runs into `NoSuchElementException`"
While scanning ORT with ORT I noticed that ORT exits scanning with the following exception:

[code]

[2022-10-04 08:05] nnobelis opened #5901 "Wrong matching with [AntPathMatcher] for path exclude"
We have a project with the following path exclude
[code]
However it seems this pattern excludes the `build.gradle` in the project.

After debugging, I came to evaluate this bit of code in ORT Reporter:
[code]
and to my surprise it evaluates to  `true`.

Has anyone an idea what happens here ?
It does not seem to conform to what's in Spring Javadoc [1].

As a sidenote, should ORT not use [2] instead

[2022-10-04 08:18] nnobelis commented on #5901
Thinking about it maybe this is not a bug. Maybe this expression is just not supported.
Please advise.

[2022-10-04 08:58] sschuberth commented on #5901
Unfortunately, that standard implementation behaves oddly in some edge cases, i.e. it does not match files that we expect to be matched for certain patterns.

[2022-10-04 08:59] sschuberth commented on #5901
Probably @fviernau can advise.

[2022-10-04 09:14] fviernau commented on #5681
We've discussed my proposal with the core devs, here's the proposed changed to the OrtResult model,
and some notes from the meeting.

### Planned changes in ORT result model

The following things I believe are somewhat on the agenda and will impact
the model, so these should be considered to avoid conflicts or going into the wrong direction:

1. Have scan results per provenance to drop redundancy,

[2022-10-04 10:50] schvvarzekatze opened #5902 "Reporter: ResolvedLicense without locations"
Hello,
I found out that for some packages it is not possible to retreive the locations of `ResolvedLicense`, e.g.
[code]
This is the reason why it is also not possible to get the artifact location in the NOTICE file though it is visible in the analyzer, scanner and evaluator step.

Do you have an explanation why there ist no location in `ResolvedLicense` for some licenses?

Thank you very much for

[2022-10-04 10:54] schvvarzekatze commented on #5902
Likely it will also help to give answer to the issue https://github.com/oss-review-toolkit/ort/issues/4959 but I think it is different problem because it seems not to be an issue regarding to the NOTICE file itself.

[2022-10-04 12:40] schvvarzekatze opened #5904 "How to customize EXCEL report"
Hello,

as I need to get a bill of material as Excel report, I am looking for ways to extend the Excel with source artifact and copyrights provided by ort. As I have found out there is no way to configure it except to change `ExcelReporter.kt`in a specific fork of ort. Is this the only way?

Thank you for your help.

[2022-10-04 12:48] sschuberth commented on #5904
Currently yes. And actually, in one of the last [developer meetings](https://github.com/oss-review-toolkit/ort/wiki/Developer-Meeting#2022-09-01) we were discussing to drop the current Excel reporter, as people might be better of creating the Excel they want from e.g. the evaluated model by [post-processing the JSON with a tool that can output Excel](https://geekflare.com/json-to-excel-conversion/

[2022-10-04 12:49] #5904 closed

[2022-10-04 12:57] sschuberth commented on #5902
These `locations` refer to `TextLocation`s that are applicaable for *detected* licenses only. In your case, however, there's only a *declared* license (`source=DECLARED`) which does not have a `TextLocation` (in the sense of a line number in the code), but the info stems from package metadata. [Here](https://github.com/oss-review-toolkit/ort/blob/main/docs/license-handling.md) you can read more ab

[2022-10-04 12:58] #5902 closed

[2022-10-05 06:26] fviernau commented on #5901
@nnobelis @sschuberth , I wonder if the `AntPathMatcher` syntax is actually the best choice.
When I have some time I'd make some research what other implementations are available, so that we could switch
to something else. Do you agree at least rearching it makes sense?

[2022-10-05 06:37] fviernau commented on #5848
Hi @unclejay80

Without knowing the contents of your (1) notice template `.ftl` file and (2) `license-classifications.yml` file, it's hard to say.
However, looking at `ort-config` repository, you can see that a license is included in the `NOTICE` if and only if it is assigned to the dedicated category, see https://github.com/oss-review-toolkit/ort-config/blob/60ac04e73efe6dffac30a8bc8c0857474e71c5

[2022-10-05 06:46] nnobelis commented on #5901
Definitively. Spring also as a replacement for `AntPathMatcher` if I am not mistaken:
https://www.baeldung.com/spring-5-mvc-url-matching

[2022-10-05 07:39] sschuberth commented on #5901
Yes, doing some research does not hurt, and I did that myself some time ago as I was considering to write a Kotlin-only (and multi-platform) glob matcher because the Kotlin stdlib unfortunately does not provide one (nor could I find a decent one, except for [this outdated library](https://github.com/shyiko/klob)). An article I found helpful was https://research.swtch.com/glob as it gives some nice

[2022-10-05 07:50] sschuberth commented on #5901
JGit also has [an (internal) class to convert `.gitignore`-style globs to Java Regexes](https://git.eclipse.org/r/plugins/gitiles/jgit/jgit/+/master/org.eclipse.jgit/src/org/eclipse/jgit/ignore/internal/Strings.java#246) that we maybe could use.

[2022-10-05 08:16] fviernau opened #5908 "Improve FileMatcher implementation"
Currently, all glob pattern matching is done via the `FileMatcher` class which uses `Ant` style glob patterns as it utilizes `Spring`'s `AntPathMatcher` class. The notation for matching groups of subpatterns seems a bit unfortunate.

Goal of this task: research alternative path matcher implementation and see if we can improve on glob expression syntax ORT uses for externally facing globs.

This ta

[2022-10-05 08:22] #5901 closed

[2022-10-05 13:30] unclejay80 commented on #5848
Hi @fviernau ,

Thanks for your comment. I'm using the Ort default notice template https://github.com/oss-review-toolkit/ort/blob/main/reporter/src/main/resources/templates/notice/summary.ftl and the licence classification file from this repo: https://github.com/unclejay80/policy-configuration/blob/main/license-classifications.yml 

From my point of view this looks fine. 

Do I need the notice tem

[2022-10-05 13:34] fviernau commented on #5848
Your license classifications file uses `property:include-in-notice-file` as category while the `summary.ftl` filters by just `include-in-notice-file`.  Please try if aligning these fixes the issue.

[2022-10-05 19:41] #5899 closed

[2022-10-06 02:17] tsteenbe commented on #5894
@fb could you post the exact series of Docker commands you are using to do a ORT scan of a public (open source) project. Looking for "steps to reproduce" the issue.

[2022-10-06 06:18] heliocastro commented on #5894
@fb33 How ( and where ) are you storing the ssh credentials ?
The new container runs as a regular user. If you build it by default, the container user is **ort**, so the credentials need to be there.

Then i do recommend you try on the docker runtime do something similar like this:

`docker run --mount type=bind,source="$(pwd)"/.ssh,target=/home/ort/.ssh,readonly ort`

This of course is the most b

[2022-10-06 07:48] fb33 commented on #5894
Hi,

The implementation is a bit complexe due to the our CI process. ORT usage is drived by a jenkins pipeline in a docker in docker context.
But I can resume it, in few steps :

1/ launch ORT container :
`docker run -t -d --entrypoint -e DOCKER_DAEMON_HOST=**** -v /home/jenkins/agent/workspace/_oss/audit-ort-manually/project@tmp/config1233094375676195490tmp:/etc/passwd -u ort:ort --cpus=3 -v$HOME

[2022-10-06 16:11] heliocastro commented on #5894
Here:

```-u ort:ort --cpus=3 -v$HOME/.ssh:/ort/.ssh```

First -u is unecessary unless you are running with a complete different user
Second, should not be **/home/ort/.ssh** ? Is mounting /ort/.ssh

[2022-10-07 05:38] fb33 commented on #5894
@heliocastro :+1:
You are right!
my bad, I quickly replace root by ort...
I'll test with the good folder

[2022-10-07 10:47] sschuberth commented on #5739
Are there any more open questions on this topic @pepper-jk?

[2022-10-07 11:30] #5739 closed

[2022-10-07 13:53] fb33 commented on #5894
So, I go a step further.
But now I've this error:
[code]
Ort Git try to clone the project with SSH, but github seems to authorize clone only via https or git cli.

[2022-10-10 10:06] sschuberth opened #5928 "Eventually remove the sparse checkout feature from the downloader"
_Originally posted by @mnonnenmacher in https://github.com/oss-review-toolkit/ort/issues/5903#issuecomment-1272854427_

[2022-10-10 21:06] fviernau commented on #5848
@unclejay80 is your issue solved / clarified?

[2022-10-10 22:12] unclejay80 commented on #5848
@fviernau I‘m currently ooo. I‘ll verify it next week and give you feedback. But I think it should be solved with your latest hints.

    Frank Viernau ***@***.***> hat am 10.10.2022 22:06 WEST geschrieben:

     

     

    
   @unclejay80 is your issue solved / clarified?
   —Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Messag

[2022-10-11 06:05] heliocastro commented on #5894
@fb33 Can you please paste the very first lines of ort run ( the ones where the ASCII ORT appears ? I'm pretty sure that ort is running with a complete different user then not finding yours .ssh files

[2022-10-11 06:14] fb33 commented on #5894
here are the lines :

14:38:34  ________ _____________________
14:38:34  \_____  \\______   \__    ___/ the OSS Review Toolkit, version DOCKER-SNAPSHOT.
14:38:34   /   |   \|       _/ |    |
14:38:34  /    |    \    |   \ |    |    Running 'scan' under Java 11.0.16.1 on Linux with
14:38:34  \_______  /____|_  / |____|    3 CPUs and a maximum of 10240 MiB of memory.
14:38:34          \/       \/
14

[2022-10-11 06:34] fb33 commented on #5894
I think, with my previous version of ORT docker image (build in august), the VCS url was with HTTPS and not with git SSH.

[2022-10-11 12:28] heliocastro commented on #5894
If was https, and not ssh, and you are behind proxy, that would explain most of everything
ssh clones over proxy environment need something like corskscrew
Good example: https://gist.github.com/ozbillwang/005bd1dfc597a2f3a00148834ad3e551

[2022-10-11 14:08] pepper-jk commented on #5740
Hi @mnonnenmacher,
today we have reproduced the problem on an Ubuntu VM outside our pipeline. Again using the [example repo](https://github.com/pepper-jk/ort_pypi_resolution_test) linked above.

We ran the docker image as follows:
[code]

And got the following metadata for `pillow:9.2.0` in the `analyzer-results.yml`:
[code]

We got the same for `markupsafe:2.1.1`.

<details>
<summary>The complete

[2022-10-11 14:21] sschuberth commented on #5740
@pepper-jk this should have been improved just today with https://github.com/oss-review-toolkit/ort/pull/5910. Please give this another try.

[2022-10-11 14:28] pepper-jk commented on #5740
Thanks, we will. The image build of the current master is running.

I will update you tomorrow.

[2022-10-12 05:45] tsteenbe commented on #5928
What is the motivation to remove sparse checkout?

[2022-10-12 06:05] sschuberth commented on #5928
To be able to migrate the Git code to pure JGit, which would simplify the code, ease debugging, and avoid any confusion about different authentication mechanisms that Git CLI vs. JGit support.

[2022-10-12 11:05] pepper-jk commented on #5740
I can now confirm that a scan with ORT on ec7d0b1 does not have the macOS binary artifact problem anymore.

I assume #5910 fixed this bug.

We now get the following metadata for `pillow:9.2.0` in the `analyzer-results.yml`:

[code]

Same goes for `markupsafe:2.1.1`.

[2022-10-12 11:05] pepper-jk commented on #5740
I will keep the issue open though, until passing a platform manually is possible in ORT.

[2022-10-12 12:52] #5367 closed

[2022-10-12 13:10] sschuberth commented on #3671
@mnonnenmacher @fviernau can we already close this as 12082252805d5aca7f575075deeac85c3f793868 made the Python version configurable?

[2022-10-12 14:49] sschuberth commented on #4289
The `python_compatibility.py` script is not in use anymore as of c885541a5deab9acac13e75097a41e6f1d582aa1, so I believe this can be closed.

[2022-10-12 14:49] #4289 closed

[2022-10-12 14:51] sschuberth commented on #4578
Reopening as #4637 now actually is a epic that refers to this issue.

[2022-10-12 14:55] sschuberth commented on #5614
That's not the case anymore as of c885541a5deab9acac13e75097a41e6f1d582aa1, so I believe we can close this.

[2022-10-12 14:55] #5614 closed

[2022-10-12 14:58] sschuberth commented on #485
`pydep` is not used anymore as of e235259c0324dc4d046f23d9780207c8125e3645, so I'm closing this.

[2022-10-12 14:58] #485 closed

[2022-10-13 11:24] schvvarzekatze commented on #4959
resolved by: https://github.com/oss-review-toolkit/ort/issues/5902

[2022-10-13 11:31] #4959 closed

[2022-10-13 15:19] mnonnenmacher commented on #4578
I assume the gcc error happens during `pip install`, so this could be closed as we don't run `pip install` anymore.

[2022-10-13 15:29] mnonnenmacher commented on #5740
@pepper-jk This was already implemented in #5910. You can configure the python version or operating system either in the global configuration or in your .ort.yml like this:
[code]

[2022-10-13 16:01] fb33 commented on #5894
Since [4c57907](https://github.com/oss-review-toolkit/ort/commit/4c57907f5f3c95f229f824c8cd802ce0efdf660b)
with https://github.com/oss-review-toolkit/ort/blob/4c57907f5f3c95f229f824c8cd802ce0efdf660b/utils/ort/src/main/kotlin/Utils.kt#L181-L183
it should fix my problem ! :)

[2022-10-13 17:02] sschuberth commented on #4578
@alex4200 could you verify this please with the latest ORT version?

[2022-10-13 17:04] sschuberth commented on #5894
Feel free to close this issue then after you were able to verify the fix 😉

[2022-10-14 06:18] #3671 closed

[2022-10-14 12:19] fviernau opened #5950 "OrtResult: Store scan results "by provenance""
The ORT file currently holds the scan results per `Identifier`.
This exhibits redundancy for e.g. the `LicenseFindings` and `CopyrightFindings` in the following cases:

1. Multiple packages originating from the same code repository.
2. The nested provenance of several packages overlap, like e.g. the code repository has `google-test` as Git submodule.

The changes to the data structure should have

[2022-10-14 12:31] hanna-modica commented on #5335
Hi everyone, I am also on @sschuberth's side and think, since those vulnerabilities are independent of the policies. Can you start the discussion?

[2022-10-14 13:24] pepper-jk commented on #5740
Cool, I will test it next week.

[2022-10-14 13:58] heliocastro commented on #4578
This happens when a package is not available on specific abi on machine, so it calls wheel module to compile the native "binding".
Even not been used anymore with python-inspector, this could become an issue if we do need specific arch install.
So, in the end we need set a basic devel environment on the executor. Today's docker we don't have gcc enabled on the runner image

[2022-10-14 16:11] fb33 commented on #5894
Hi @sschuberth and @fviernau

I think a case is missing in the process to "Stop using the unauthenticated Git protocol in VCS processed"

I made a PR : https://github.com/oss-review-toolkit/ort/pull/5951

[2022-10-14 16:45] sschuberth commented on #5894
I've commented over there.

[2022-10-17 11:49] mnonnenmacher commented on #5740
@pepper-jk In the `.ort.yml` please use `package_managers` instead of `packageManagers`. Unfortunately we use different parsers for the main configuration file and the `.ort.yml` and we still have to align them in this regard.

[2022-10-17 13:47] pepper-jk commented on #5740
Oh, sorry I did not get that comment. :see_no_evil:

When I try it with `package_managers`, it complains about the python version:

[code]

I tried `3.10`, `3.9`, and `3.8` with `windows` as the platform, and `3.8` with `linux`. Neither worked for me.

Is it possible the version input verification is buggy?

[2022-10-17 14:13] sschuberth commented on #5740
Can you try quoting the version? I.e. use `pythonVersion: "3.10"` to avoid the value being parsed as a floating point number.

[2022-10-17 14:39] sschuberth commented on #5740
Scratch that. Instead, "PIP" instead of "Pip" in the config. I'm going to relax that.

[2022-10-17 14:40] mpbecker commented on #5782
We are having the same issue, but without any JNI dependency whatsoever. Unfortunately the `--debug` flag is not offering more information than the one already mentioned in this issue. So how to proceed?

[2022-10-17 14:43] sschuberth commented on #5740
LOL, that's also not it, as the lookup already is case-insensitive. I'll try to improve the error message to see what's going on.

[2022-10-17 15:00] sschuberth commented on #5782
Are you maybe in a position to debug this yourself? Eventually, adding more `logger.debug` statements to [init.gradle](https://github.com/oss-review-toolkit/ort/blob/main/analyzer/src/main/resources/scripts/init.gradle) could also give a clue where it's hanging.

[2022-10-17 15:09] sschuberth commented on #5740
Please try with https://github.com/oss-review-toolkit/ort/pull/5956.

[2022-10-17 15:55] pepper-jk commented on #5740
Ah, I forgot to mention that I tried the version and platform in quotes `'` but I believe only `'windows'` and `'3.10'`.

I doubt that there are trailing whitespaces, as my vscode is configured to delete those on save, but I will check it tomorrow.

I will also test it with your fix tomorrow.

Thanks for the help.

[2022-10-17 16:01] sschuberth opened #5957 "Display `authors` as part of package details in the web-app report"
A package's `authors` should be displayed as part of package details along the other package metadata in the web-app report:

![image](https://user-images.githubusercontent.com/349154/196226292-02b22046-1c5a-4a4a-90e4-125ac2c57f69.png)

[2022-10-17 16:01] sschuberth commented on #5957
Is that something you could help with @tsteenbe?

[2022-10-17 16:17] sschuberth commented on #5782
Do you see the "Gradle may use a maximum of XXXX MiB of memory" message somewhere in the log output?

Alternatively, can you share the project you're analyzing?

[2022-10-17 17:24] mpbecker commented on #5782
Unfortunately I cannot share. But I can provide the relevant logs (even though I have to cut any company information, replaced with `XXX`):

`17:35:13.899 [main] INFO  org.ossreviewtoolkit.utils.ort.OrtAuthenticator - Authenticator was successfully installed.
17:35:13.913 [main] INFO  org.ossreviewtoolkit.utils.ort.OrtProxySelector - Proxy selector was successfully installed.
Found 3 Gradle defini

[2022-10-17 20:45] unclejay80 commented on #5848
thanks, working now

[2022-10-17 20:45] #5848 closed

[2022-10-18 06:07] sschuberth commented on #5782
I don't think so.

Could you maybe try to minimize your project to that it still reproduces the issue, but does not contain any private information, and then share it? Or alternatively, try to modify our [existing Android test project](https://github.com/oss-review-toolkit/ort/tree/main/analyzer/src/funTest/assets/projects/synthetic/gradle-android) so that it reproduces the issue?

[2022-10-18 08:06] sschuberth commented on #5957
Nevermind, I'm on it.

[2022-10-18 09:53] mpbecker commented on #5782
Unfortunately I cannot strip down the project to publish it (too much effort), so I took your example and adapted it step by step. I found three dependencies responsible for ORT hanging at the `Connecting from tooling...` message in combination with a setting in our `gradle.properties` file. Project is uploaded here: https://github.com/mpbecker/OSS_debug
Further information how to reproduce are fo

[2022-10-18 10:21] mpbecker commented on #5782
I just tried an older version for Hilt: going back from `2.44` to `2.43.2` seems to solve the issue. No clue what they changed there, but maybe that could give a hint what could cause the problem.

[2022-10-18 10:42] sschuberth commented on #5782
I can reproduce the issue, that's great, thanks for that! However, I also see it hanging with Hilt 2.43.2.

[2022-10-18 11:07] sschuberth commented on #5782
Changing the lines

https://github.com/oss-review-toolkit/ort/blob/63b2b2d3e29b822ff75af42772682f35bf5e3a31/analyzer/src/main/kotlin/managers/Gradle.kt#L204-L205

to read

    .setStandardOutput(System.out)
    .setStandardError(System.err)

yields on-the-fly output that shows that analysis is actually not hanging, but *extremely* slow, and this message shows up for every Gradle configuration:

[c

[2022-10-18 11:17] mpbecker commented on #5782
Oh wow, thanks for revealing what's going on here! Well that's somehow annoying since I left ORT running for our Project for about 7 hours hanging at this message and then finally canceled the task :D And the machine was quite powerful. So it seems we are stuck here or have to live with the fact that it could take hours to run ORT or do you have any idea how to tackle this? I must admit, I am not

[2022-10-18 11:44] pepper-jk commented on #5740
I have run a scan with the new `main` branch. I now see what the issue is. It reports the version `3.1` apparently truncating the `0` in `3.10`.

I also ran the scan with `3.9`, which works fine now. I am not sure, if you fixed something, or if I just forgot to copy the config file into the directory I was scanning (after chaging the version(s) the last time).

[2022-10-18 11:49] sschuberth commented on #5782
Here's a stacktrace:

[code]

So it seems ORT's way of resolving dependencies at Gradle configuration time is inherently incompatible with the [Android plugin's check](https://android.googlesource.com/platform/tools/base/+/studio-master-dev/build-system/gradle-core/src/main/java/com/android/build/gradle/internal/DependencyResolutionChecks.kt) not to do that.

We have [several ideas how to change t

[2022-10-18 12:17] sschuberth commented on #5740
But that should not happen when quoting the value [as indicated above](https://github.com/oss-review-toolkit/ort/issues/5740#issuecomment-1280929086), or?

[2022-10-18 12:27] pepper-jk commented on #5740
Yes, this test was without quotation.

If I put the version in quotes `'3.10'` it works. Thanks.

Closing this issue.

[2022-10-18 12:27] #5740 closed

[2022-10-18 12:31] mpbecker commented on #5782
Alright! Big shout outs for helping on such short notice. Really appreciate it, thanks!

[2022-10-18 15:43] DaveJarvis commented on #5782
Correct, we're not using Android. And it could be that ORT isn't hanging but merely taking a long time to run.

In either case, having tonnes of information about what's going on would be quite helpful. Information such as:

* What project is being analyzed?
* What files are being downloaded (e.g., URLs)?
* What actions are being taken (uncompressing jar file, scanning for pom.xml files, searching

[2022-10-18 19:42] #5957 closed

[2022-10-19 12:22] sschuberth commented on #812
@mnonnenmacher, can you tell whether this issue still makes sense / is applicable to our new approach of using `python-inspector`?

[2022-10-19 13:21] sschuberth commented on #3209
With almost 2 years of no activity on this, I don't think this will get implemented.

[2022-10-19 13:21] #3209 closed

[2022-10-19 13:22] pepper-jk opened #5967 "GPL-2.0-only detected in GPL-2.0-or-later"
## Background

I am currently working on copyleft license compatibility rules. For this I created a [test repository](https://github.com/pepper-jk/compatibility_test) containing `GPL-2.0-or-later` and `GPL-3.0` (later I added some CC licenses as well, but those are not relevant to the issue). Both license texts were copied from [spdx.org](https://spdx.org/licenses/).

## Bug

When scanning said [t

[2022-10-19 13:33] sschuberth opened #5968 "Allow to skip excluded paths during analysis"
In ORT's semantics "excluded" entities will still get analyzed / scanned by default, but the results from these show up marked as "excluded" in the reports.

This is a problem if you need to *really* skip e.g. a path from analysis, for example because that path contains an [Android](https://github.com/oss-review-toolkit/ort/issues/5622) or [NuGet](https://github.com/oss-review-toolkit/ort/issues/5

[2022-10-19 14:25] pepper-jk commented on #5967
I can confirm that scancode 31.2.1 produces the same results.

I will now open an issue over there.

[2022-10-19 14:37] sschuberth commented on #5967
Thanks. Please add the link to that issue back here for reference when closing this issue in exchange.

[2022-10-19 14:43] #5967 closed

[2022-10-19 16:52] sschuberth commented on #5105
I believe yes. Also see https://github.com/oss-review-toolkit/ort/pull/5971.

[2022-10-20 07:50] oheger-bosch opened #5973 "Filter environment variables passed to ProcessCapture to increase security"
This is an idea how to reduce a security risk when running ORT, for which I would like to get some feedback:

Especially when running the Analyzer, external logic in build scripts is executed which could do potentially harmful thing. One attack vector could be reading sensitive information from environment variables, such as database credentials or credentials to other services provided to the ORT

[2022-10-20 10:31] sschuberth commented on #5968
Fun fact, we had a [`--remove-excludes-from-results` analyzer option](ce1c28bb151352e13fbe7bc9fdbe27e2c26f18ee) once, but it was [removed](a4d6c125ef1a54559cecee98eebe4cc1f1057d89) in favor of rendering excluded stuff differently in the reports.

[2022-10-20 13:01] oheger-bosch commented on #5973
The topic has been discussed in the ORT Community Meeting on 2022-10-20 with the following outcome:
* There is general agreement that a solution addressing this issue would be useful.
* The most secure solution - that should be followed here - is a whitelist approach. This means:
  * In the ORT configuration, users have to explicitly list the environment variables which should be passed through to

[2022-10-20 18:14] jens-erdmann opened #5977 "LICENSE: Copyright Owner and Year Missing"
https://github.com/oss-review-toolkit/ort/blob/main/LICENSE#L189

License still contains place holders of original template for copyright owner and year.
I was instructed by a legal council once, that templates are not always valid in every jurisdictions.
I am not a lawyer and this is not legal advice. This is just an observation that the copyright does not look right to me.

[2022-10-20 19:16] sschuberth commented on #5977
Yes, that's on purpose. We use the [original Apache-2.0 license text](https://www.apache.org/licenses/LICENSE-2.0.txt), as-is including the instructions how to apply the license.

Note that the template from the appendix is not supposed to apply to ORT itself.

The actual copyrights for ORT are contained in the [NOTICE](https://github.com/oss-review-toolkit/ort/blob/main/NOTICE) file.

[2022-10-21 07:59] sschuberth commented on #5701
I've given this some though again: I believe it would generally be nice if one could simply clone the `ort-config` repo to `~/.ort/config` and work with it. This is already possible right now (pending [this layout fix](https://github.com/oss-review-toolkit/ort-config/pull/68)), but then `~/.ort/config` also contains several files / directories that are not used as part of ORT's configuration at al

[2022-10-21 13:13] kvy1kor opened #5982 "Unable to scan go mod project with docker image"
Hello,

We tried executing scan on the go mod project.
Unfortunately we are unable to understand the root cause of the issue.
We tried providing all necessary permissions to the folders and also cleared the cache folder.
The command  go list -deps -f '{{with .Module}}{{.Path}} {{.Version}}{{end}}'  worked and able to list all the dependencies from the go.mod file and attached the screenshot for th

[2022-10-23 20:09] #5977 closed

[2022-10-24 09:32] sschuberth commented on #2287
This is somewhat related to https://github.com/oss-review-toolkit/ort/issues/2842.

[2022-10-24 09:36] sschuberth opened #5987 "Implement the "second form" OSADL matrix check and document it"
@fviernau @mnonnenmacher @tsteenbe please have another look. Things I'd like to do in a follow-up PR:
1. Implement the [second form of check](https://github.com/oss-review-toolkit/ort/pull/4977#discussion_r997947353).
2. Add dedicated docs for this new feature.

_Originally posted by @sschuberth in https://github.com/oss-review-toolkit/ort/issues/4977#issuecomment-1288628265_

[2022-10-24 17:06] mnonnenmacher opened #5991 "Create an OrtResult abstraction"
Create an abstraction for the `OrtResult` to decouple the ORT tools from the way that ORT data is stored.

Currently, we access the data stored in `OrtResult` directly in many places. This has the downside that the tools are tightly coupled to the `OrtResult` class, while the `OrtResult` class has to be optimized for serialization at the same time, because it is used to write the result files. Cre

[2022-10-24 17:07] mnonnenmacher commented on #2287
This is also related to #5991, as an abstraction for the `OrtResult` could make it easier to use mocks in some tests without having to create a complete `OrtResult`.

[2022-10-25 11:10] mnonnenmacher commented on #5982
@kvy1kor Could you try if #5993 fixes your issue?

[2022-10-25 12:09] schvvarzekatze commented on #5894
I still get the ssh error  in the scanner step for all repositories cloned by ssh. I reproduced it for one sample dependency:
[code]
When I change the vcs_processed to
[code]
the scan is without the error. I used the docker image of ort updated today.

What could be a quick fix in my case to succesfully scan all repositories cloned by ssh?

Thank you very much.

[2022-10-25 15:42] sschuberth commented on #5894
In contrast to HTTP(S), you cannot clone unauthenticated via SSH. That means, you *have* to provide credentials when cloning via SSH. So, when cloning via SSH from GitHub, you *need* to have an account on GitHub that you can use and authenticate with. And ideally, the credentials should be provided by an SSH agent; then JSch used by JGit will pick them up.

[2022-10-26 06:10] oheger-bosch commented on #5973
The approach of listing all allowed variables used by the various tools is hardly practicable. In a first (and incomplete) attempt to compile such a list, I came up with more than 300 variables. This list would also have to be maintained and adapted to changes in the supported tools. So, while this may be the most secure approach, I doubt that it is feasible.

Therefore, I would suggest an alterna

[2022-10-26 06:16] nnobelis commented on #5973
This is a good idea. `.*TOKEN.*` too.

[2022-10-26 12:30] #5982 closed

[2022-10-26 12:30] mnonnenmacher commented on #5982
@kvy1kor Please reopen if #5993 did not fix your issue.

[2022-10-26 14:01] limod commented on #5894
Hi! I also had problemes with ssh + auth fail and added a SSH Key for our private repository via the SSH-Agent. While testing i mounted my local ssh-agent into docker: $SSH_AUTH_SOCK:/ssh-agent --env SSH_AUTH_SOCK=/ssh-agent

This resolved the Auth fail exception (Thanks!) but not i get the following error:

[code]

Do you have any idea what causes this error?

[2022-10-26 17:48] limod commented on #5894
@sschuberth I do not use a custom ORT distribution. I cloned the repository (on 19.10.22) and executed `docker build -t ort .`

[2022-10-26 20:45] sschuberth commented on #5894
@limod despite the ordering in the stacktrace, it seems that `remote hung up unexpectedly` is the root cause, and `Can't find bundle for base name` is just a follow-up error as JGit fails to find a translation for some JSch-related message. I've prepared a fix to JGit for that, but like I said, that's likely not the root cause.

[2022-10-26 23:08] fviernau opened #6002 "ListLicensesCommand: Support compound SPDX expressions as detected licenses"
If the detected licenses in the scan result are compound, e.g. BSD-2-Clause AND GPL-2.0-only, then
the output of the command lists the finding in the sections:

1. `GPL-2.0-only`
2. `BSD-2-Clause`

This creates the false impression that the finding is just `GPL-2.0-only`, e.g. the user cannot create a license finding curation based
on the output, as it does not reveal that `BSD-2-Clause AND GPL-2.

[2022-10-27 06:26] oheger-bosch commented on #5991
This does not only affect the reading of result data but also the creation. One possible approach could be based on the _builder_ pattern: Instead of creating result objects directly, ORT components are passed a builder they can use to propagate their results.

[2022-10-27 12:57] kvy1kor opened #6008 "Detailed information on ORT features"
Hello Team,

Can we have some reference material or link with detailed explanation on the usage of availble ORT features.

It will be great, if someone can share.

Thanks in Advance.

[2022-10-27 13:56] sschuberth commented on #4276
I'm re-reading this in the context of reviewing https://github.com/oss-review-toolkit/ort/pull/6007. I guess the "code is already present locally" assumption wasn't really true, as there are cases where the SPDX file is stored independently of the source code of the package it describes. That is the

use-case that @mnonnenmacher tries to solve with https://github.com/oss-review-toolkit/ort/pull/60

[2022-10-27 14:06] sschuberth commented on #4866
This should actually already work (independently of the change proposed in https://github.com/oss-review-toolkit/ort/pull/6007) if you configure to prefer source artifacts over VCS locations in `config.yml` like `sourceCodeOrigins: [ARTIFACT, VCS]`.

Can you confirm @mmurto?

[2022-10-27 14:11] sschuberth commented on #4562
@mnonnenmacher are we good to close this now that https://github.com/oss-review-toolkit/ort/pull/5799 is merged?

[2022-10-27 14:19] #5617 closed

[2022-10-28 11:42] hanna-modica commented on #5968
Hi @sschuberth, that is indeed interesting. And also the comment from @mnonnenmacher states, that it will be reimplemented later. So it was always planned to have this feature back, I guess? I would really appreciate it :)

[2022-10-29 08:47] mnonnenmacher commented on #4562
Yes, moving revisions are now always resolved and rescanned if they have changed.

[2022-10-29 08:47] #4562 closed

[2022-10-29 20:43] mnonnenmacher commented on #1042
Closing this for the reason @sschuberth provided and because the golicense project has not been updated since 2019.

[2022-10-29 20:43] #1042 closed

[2022-10-29 20:56] mnonnenmacher commented on #2668
This is fixed since #5799.

[2022-10-29 20:56] #2668 closed

[2022-11-01 16:27] thadubsdavid opened #6023 "Cannot find project resources with docker run"
Dear project team,

As I run docker command for basic info on my project I receive a log about ORT not finding my project resource.
As my project I use a simple github project: https://github.com/OWASP/Serverless-Goat

I would be very happy about any help. We would like to use ORT for a project :)

![image](https://user-images.githubusercontent.com/34520510/199285006-e747ee91-c5e5-4e63-a0d1-62e2d2

[2022-11-01 16:42] sschuberth commented on #6023
Your screenshot doesn't actually show any error. The info / warn logs from logback can all be ignored.

PS: `--info` sets the log level to `INFO` level. It's not a command to display info about ORT or your project. Try with `ort analyze --help` instead.

[2022-11-01 17:49] thadubsdavid commented on #6023
Thank you for commenting! My Screenshot might have been misleading.. as soon as I use the input tag it errors "cant find resource". I tried to use back-/slashes and relative paths as well..
My folder structure & Screenshot:
- source
|-- ort
 |-- (clone of your ort-repo)
|-- project
 |-- Serverless-Goat
  |--- src
   |--- api/convert
    |--- index
     |--- package

![image](https://user-images.gi

[2022-11-01 18:23] sschuberth commented on #6023
You're mounting your `C:\users\david\documents\source` directory from the host to `/project` inside the Docker container, so your input directory for ORT as specified by `-i` needs to refer to the latter. You probably want to use `-i /project/project/Serverless-Goat`.

[2022-11-01 18:24] sschuberth commented on #6023
Also see our [Docker hints](https://github.com/oss-review-toolkit/ort/blob/main/docs/hints-for-use-with-docker.md).

[2022-11-01 21:08] thadubsdavid commented on #6023
Thank you Sebastian. I missed that point

[2022-11-01 21:08] #6023 closed

[2022-11-02 09:28] schvvarzekatze opened #6024 "JSchException: invalid privatekey for scanner via github access using recent ORT docker image"
For scanning our repository the recent ORT docker image, I still get the `invalid privatekey` for all github packes.

Reproduction steps:
prerequisite: Recent ORT image from Oct 28th

1. Generate SHA-2 key pair for github: `ssh-keygen -t rsa -b 4096 -C "<my email for github account>"`
2. Add the public key to the github account
3. Convert the private key: `ssh-keygen -p -f ~/.ssh/id_rsa -m PEM` as

[2022-11-02 09:51] sschuberth commented on #6024
A quick Internet search brings up [this](https://stackoverflow.com/questions/53134212/invalid-privatekey-when-using-jsch).

Note that the Git CLI is not using JGit / JSch (obviously), so I'm not surprised that this works. JGit also *finds* the private key after all, you just have to convert it to the "classic" format as described in [this answer](https://stackoverflow.com/a/55740276/1127485).

[2022-11-02 09:58] schvvarzekatze commented on #6024
Thank you, this was the conversion I actually did.

After the conversion the key begins with:
[code]
This should be the correct format I think.

[2022-11-02 10:14] sschuberth commented on #6024
Ah, sorry, I only skimmed over your report and overlook that you already found that SO post.

Are there maybe *additional* private keys in the new format that JSch could stumble over?

[2022-11-02 10:55] schvvarzekatze commented on #6024
Yes, I use the following key config:
[code]
Both private keys are in the old format.

[2022-11-02 11:12] bennati opened #6027 "Scanner is taking much longer and fails to fetch packages"
We noticed significant slowdowns in scans: the scanner hours to scan projects that previously took minutes.
This can be reproduced with [MoveTK](https://github.com/movetk/movetk), latest version.

Description:
The scanner starts it's normal operations, once in a while output lines are printed which start with a timestamp.
Then, for hours we get a series of similar errors, without any timestamp in

[2022-11-02 11:18] sschuberth commented on #4687
A preview of the ORT Server has meanwhile been [published](https://github.com/oss-review-toolkit/ort-server), [settling on KTor](https://github.com/oss-review-toolkit/ort-server/blob/3ffed21196921c69cd400663ada09f0b6c9f989f/gradle/libs.versions.toml#L25) as a framework.

[2022-11-02 11:18] #4687 closed

[2022-11-02 11:22] sschuberth commented on #4870
This has actually been done mostly Bosch-internally. Is there something you can share here @mnonnenmacher?

[2022-11-02 11:42] fviernau opened #6028 "analyzer: The revision in VCS processed may be wrong for NPM packages"
### Reproduce

1. Create an empty directory and add the below `package.json`
[code]
2. Generate the corresponding lockfile: `npm i --package-lock-only`
3. Analyze the directory with latest ORT
4. find `master` as revision in the analyzer result under `vcsProcessed`
[code]
5. Compare the package metadata which specifies the correct revision: `a7620bd266ae1345975767bbc7abf09034437017`
[code]

### Ex

[2022-11-02 11:43] fviernau commented on #6027
I've investigated the babel one and came up with this bug report: https://github.com/oss-review-toolkit/ort/issues/6028

[2022-11-02 11:59] sschuberth opened #6029 "Configure JGit to use Apache MINA as the SSH client instead of JSch"
[JSch](http://www.jcraft.com/jsch/) is [unmaintained](https://www.matez.de/index.php/2020/06/22/the-future-of-jsch-without-ssh-rsa/) and has [issues](https://github.com/oss-review-toolkit/ort/issues/6024), so we should probably migrate from JSch to MINA which is [possible as of JGit 5.2](https://bugs.chromium.org/p/gerrit/issues/detail?id=12599#c7). [Here](https://github.com/orgzly/orgzly-android/

[2022-11-02 15:21] sschuberth commented on #6024
@schvvarzekatze can you please try whether https://github.com/oss-review-toolkit/ort/pull/6030 resolves your issue?

[2022-11-03 08:41] limod commented on #5894
Sorry for the delay, the `remote hung up unexpectedly` has resolved, seemed that there was a real issue while testing with the repository. I ended in a `Invalid Key` Exception but there is already an issue for this error: #6024

[2022-11-03 09:00] sschuberth commented on #5894
... and a potential solution 😉 @limod could you also please give https://github.com/oss-review-toolkit/ort/pull/6030 a try in this regard?

[2022-11-03 11:48] mawl commented on #5507
@sschuberth: Same issue here. As you can see, username and password is shown in the log:

[code]

[2022-11-03 16:18] pxs-ort commented on #6024
Thank you, this change resolves my issue.

[2022-11-03 16:20] #6024 closed

[2022-11-04 07:09] mawl commented on #5507
Issue is now fixed for us - bei using

[code]

in our custom Dockerfile, after COPY of the maven settings.xml.

https://docs.docker.com/engine/reference/builder/#copy

[2022-11-04 07:24] sschuberth commented on #5507
Interesting. Do you understand *why* that change fixed the issue? At first I thought that `settings.xml` wasn't found due to looking in the wrong user home. But then I remembered that username and password appeared in the log, so apparently the `settings.xml` *was* found.

[2022-11-04 08:08] mawl commented on #5507
I suspect maven has no permissions to create files under /home/ort/.m2/repository - but has read permissions on the settings.xml file.

[2022-11-04 12:49] sschuberth commented on #5507
@software-testing-professional Unfortunately, you didn't use a permalink, and by now that line points to `if (!initScriptFile.delete()) {`, which I believe is unrelated. Would you mind repeating which line you had in mind?

[2022-11-04 12:52] sschuberth commented on #5507
@mawl you mentioned that you're using your own "custom Dockerfile". So, can you confirm that there is nothing to fix in any of our two Dockerfiles? Otherwise, feel free to create a PR.

[2022-11-04 15:54] software-testing-professional commented on #5507
@sschuberth Sorry for that.
I found a code comment here:
https://github.com/oss-review-toolkit/ort/blob/aa942fa62dd7f055e2f27f51831dc66cf77e55c8/analyzer/src/main/kotlin/managers/Gradle.kt#L230

` // TODO: Also handle authentication and snapshot policy.`

This led me to the assumption that something related to authentication might still be missing.

[2022-11-04 20:18] sschuberth commented on #5507
No worries. Thanks for being quick in posting an update!

I'm currently unsure whether this old comment of @mnonnenmacher from 2017 is still valid.

@software-testing-professional looks like you're running ORT from a Docker image. Could you also try running ORT natively with the same configuration to rule out any Docker-related issues?

[2022-11-07 08:15] schvvarzekatze commented on #4540
@sschuberth
I just retried it but it is not only a freezing problem with ClearlyDefined.

Scanner logs:
[code]
I used the following ort config:
[code]

I also attached the analyzer-result (yml is not possible as file attachment).

[2022-11-07 08:25] sschuberth commented on #4540
@schvvarzekatze could be that you issue is unrelated. You're, amongst others, scanning the Azure SDK, which is massive, and will take hours to days to scan. Also, you should upgrade to the new provenance-based scanner infrastructure and configure a `provenanceStorage` instead of a `storage` as soon as possible to avoid rescans of mono-repos.

[2022-11-07 09:17] #6029 closed

[2022-11-07 09:48] schvvarzekatze commented on #4540
Thank you, it also seems to freeze without clearly defined. I just try it now with `provenance storage`

[2022-11-07 09:52] sschuberth commented on #4540
Note that the initial scan will still take long.

[2022-11-07 09:53] sschuberth commented on #5894
I'm confident that the merged #6030 solves this issue. If not, feel free to reopen.

[2022-11-07 09:53] #5894 closed

[2022-11-07 13:24] fviernau opened #6043 "Downloader: Sparse checkout not working"
The `vcs-path` parameter does not take any effect. Reproduce with the following command:

[code]

[2022-11-07 14:57] sschuberth commented on #5105
Turns out that curations with empty name / version are not enough to fully support this use-case, so I'm reopening this.

A problem arises e.g. with NuGet packages which generally don't have a `namespace` as part of their `id`. See for example this list of ids:

- id: "NuGet::System.AppContext:4.1.0"
- id: "NuGet::System.Buffers:4.0.0"
- id: "NuGet::System.Collections:4.0.11"
- id: "NuGet::System.

[2022-11-08 07:29] roshvin opened #6047 "ORT scan command error Exception in thread "main" java.io.FileNotFoundException: /project (Is a directory)"
we are doing scan with docker image from https://github.com/alliander-opensource/ort-container/pkgs/container/ort-container
we have used the `download` command and got all the module from package.json under /project/out/NPM

[code]
getting below error during scan.

[code]

[2022-11-08 07:32] roshvin opened #6048 "how to use notifier with ORT"
https://github.com/oss-review-toolkit/ort/blob/main/model/src/main/resources/reference.yml
as per this doc we are setting up notifier  , how can we give target end user mail id here to send mail notification.

[code]

[2022-11-08 07:36] sschuberth commented on #6047
For some reason it seems that calculating the hash of a directory is being requested, which of course fails. However, this is also running an outdated version of ORT, using a Docker image that's maintained by a third party. @nicorikken can you assist here?

[2022-11-08 07:39] sschuberth commented on #6048
The mail recipients / receivers are defined dynamically in the notifications script. For an example see

https://github.com/oss-review-toolkit/ort/blob/87e64778abd5ef85510a4b53dd970c487027f373/examples/notifications/src/main/resources/example.notifications.kts#L23-L29

[2022-11-08 08:04] roshvin commented on #6048
Hi @sschuberth  thanks for your quick help , we are using https://github.com/alliander-opensource/ort-container/pkgs/container/ort-container ort latest docker image & each team will be having different user list to notify.
is there any way we can keep this user in the config file.

[2022-11-08 08:23] sschuberth commented on #6048
No, email receivers have to be configured dynamically in the script. Think of it like an email program: There you also only specify the receivers when composing the actual mail, and the SMTP server settings are configured in the program's settings.

[2022-11-08 08:24] sschuberth commented on #6048
Maybe again @nicorikken can advice where his container expects dynamic scripts like notifications and rules to be.

[2022-11-08 08:35] pombredanne commented on #5038
I pushed at last the code in https://github.com/nexB/nuget-inspector and a first release in https://github.com/nexB/nuget-inspector/releases/tag/v0.5.0
I will push builds beyond linux in the next release

Of note:
- It supports packages.lock.json https://github.com/oss-review-toolkit/ort/issues/3943
- It should support authenticated feeds as per https://github.com/oss-review-toolkit/ort/issues/318

[2022-11-08 09:34] schvvarzekatze opened #6049 "Scan freezes and fails with provenanceStorage with postgres"
Hello,

unfortunately the scan still freezes after about 11 hours and then fails.

Here are the last logs before freezing and failing:
[code]
I used the following config with `provenanceStorage`:
[code]
[analyzer-result_provenance_storage.txt](https://github.com/oss-review-toolkit/ort/files/9959317/analyzer-result_provenance_storage.txt)

Do you have an idea what could be the problem? Is there som

[2022-11-08 10:08] kvy1kor commented on #5982
We used latest docker image and executed the analyser module for the go language.

The below go.mod was used for testing

module github.com/golanf-cafe/gomod
go 1.15

require (
        github.com/pkg/errors v0.9.1
        github.com/pkg/math v0.0.0-20141027224758-f2ed9e40e245
)

Generated ORT WebApp report didn't capture the license information.

![image](https://user-images.githubusercontent.com/

[2022-11-08 17:13] tsteenbe commented on #6048
The Docker container just contains ORT, what you likely need is ORT for GitHub action which we  (Nico, Josef and me) are building that combines ORT, ort-config into easy-to-(re)use format.

[2022-11-08 17:17] tsteenbe commented on #6047
@roshvin  Instead of ghcr.io/alliander-opensource/ort-container:ort-sha-9edefa7 please switch to ghcr.io/alliander-opensource/ort-container:latest to use the current version of ORT - recommend you only use specific revision in case of issues.

[2022-11-09 04:54] kvy1kor commented on #5982
Please find the below screenshot:

![image](https://user-images.githubusercontent.com/112953008/200741805-eba545f7-c24e-4b2f-be70-63689f6f905a.png)

[2022-11-09 07:39] sschuberth commented on #5982
That's even more odd @kvy1kor, I have way more columns to show in there. Can it be that you're using a very outdated version of ORT and the web-app report?

[2022-11-09 07:50] sschuberth opened #6055 "Make curation providers configurable via `config.yml`"
Currently, package curation providers are configured exclusively via the `AnalyzerCommand` CLI:

https://github.com/oss-review-toolkit/ort/blob/00e79bedc8a248c126465f6f1c8f746ccf96cc08/cli/src/main/kotlin/commands/AnalyzerCommand.kt#L233-L256

This makes it hard to leverage curation providers when using the analyzer programmatically, like in the ORT server. Instead, each curation provider should b

[2022-11-09 07:53] sschuberth opened #6056 "Turn curation providers into plugins"
Similar to e.g. advisors and scanners, package curation providers should become ("named") plugins (discovered by `ServiceLoader`). This would enable third parties to write custom curation providers without modifying ORT, like curation providers that "calculate" curations based on package properties, or implement other feature like [wildcards that ORT core currently does not support](https://github

[2022-11-10 08:00] schvvarzekatze commented on #6049
It also does not matter if I extend the config with:
[code]

[2022-11-10 14:38] #5973 closed

[2022-11-10 15:13] fviernau opened #6064 "evaluator: ProjectSourceRule should clone at most once"
It currently clones once per rule.

[2022-11-11 08:30] bennati opened #6070 "Scanner fails with "Repository provenances with a non-empty VCS path are not supported.""
Scanning a git-repo project fails with the following error:

[code]

Some warnings are also displayed during the scan execution:

[code]

and

[code]

[2022-11-11 08:32] sschuberth commented on #6070
@bennati I've taken the liberty to edit you post with triple-backticks around code snippets to make it more readable.

[2022-11-11 08:33] sschuberth commented on #6070
@mnonnenmacher can explain best what's going on here.

[2022-11-12 06:40] software-testing-professional commented on #5507
@sschuberth Sorry, I'm a bit late with my answer. ;-)
I also tried to use ORT natively. With same results.
Normally I use the ORT Docker image and mount all the configuration (settings.xml, .netrc, etc.) into the container.

The repository configuration is done via Gradle.
And the Artifactory repositories are configured as
[code]

Although everything was configured, Artifactory only got requests f

[2022-11-14 10:37] sschuberth opened #6079 "Extend the `UploadResultToSw360Command` to also upload vulnerability data"
When passing an advisor result (an ORT result file with an `advisor` section) as input to the `UploadResultToSw360Command`, ORT should leverage the [SW360VulnerabilityClientAdapter](https://github.com/eclipse/sw360/blob/1564ab79281d9119c2e2175fc71c94f317b1b6b1/clients/client/src/main/java/org/eclipse/sw360/clients/adapter/SW360VulnerabilityClientAdapter.java#L53-L60) to also create vulnerability i

[2022-11-14 10:38] sschuberth commented on #6079
@heliocastro, is there some SW360 development instance that you could provide us access to for implementing this feature?

[2022-11-14 10:41] sschuberth commented on #5025
@porsche-rbieniek can this be closed?

[2022-11-14 12:26] schvvarzekatze opened #6080 "What is the best way to add missing copyrights?"
Most of the copyrights can be retreived in the NOTICE File via `getCopyrights()`.

If copyrights are missing, it is not possible to get the [using curations](https://github.com/oss-review-toolkit/ort/blob/main/model/src/main/kotlin/PackageCurationData.kt), isn't it? There are also no copyrights in the `scan-result.yml` for these packages.

Is there a different way to save the missing copyrights pe

[2022-11-14 12:26] sschuberth opened #6081 "Allow the advisor to filter packages by license classification"
Users might not want to disclose the names of (company-)internal packages in the lookup at (public) vulnerability providers. A way to address that would be to have configurable license classification filter for the advisor, so that only packages with licenses of the configured classifications (e.g. only Open Source licenses) are being looked up at the vulnerability provider.

[2022-11-14 12:30] sschuberth commented on #6080
There currently only is an indirect way to achieve that: You have to enable the `addAuthorsToCopyrights` feature, and then curate the `authors`.

Not currently, but this will be resolved with a planned `concludedCopyrights` feature. Work on that has been done on and off and is currently on hold, see https://github.com/oss-review-toolkit/ort/pull/5680, but I plan to pick it up soon again.

[2022-11-14 13:40] schvvarzekatze commented on #6080
@sschuberth : Thank you very much. Where exactly do I have to enable `addAuthorsToCopyrights`?

[2022-11-15 07:50] bennati commented on #6070
Hi, any updates @mnonnenmacher ?

[2022-11-15 11:26] AJDurant commented on #5391
I can't share the full result, but may be able to share a cut down version. I'm not currently working on the same project though, so won't be any time soon.

[2022-11-16 07:26] seangold-test opened #6087 "Fossid API Scan response model has changed"
After Fossid version 22.2,  hasFileExtension in Scan.kt type has changed from Int -> Boolean.
It cause Json deserialize error.

API Test at fossid api pusher version 2022.2.2#20722
**request**
[code]
**response**
[code]

[2022-11-16 09:51] sschuberth commented on #6087
@nnobelis can you have a look at this?

[2022-11-16 09:53] nnobelis commented on #6087
Will try to prepare a fix but it will last a couple of days.

[2022-11-16 15:56] schvvarzekatze opened #6089 "Which configuration should I use to scan gitlab repository with gitlab-ci-token?"
**Reproduction:**

When scanning our gitlab repository for npm packages I still get the following error:
[code]

When debugging it on the docker container running it is possible to clone the repository using the URL with the correct environment variable. But when running docker on gitlab it is not possible to use the correct URL `https://gitlab-ci-token:${CI_JOB_TOKEN}@git.intra.xyz.com/xyz/projec

[2022-11-17 09:28] mnonnenmacher commented on #5018
Open questions:
* Should this apply only to projects or to packages as well?
* Should this use path excludes or a new separate configuration?
* Should this be implemented scanner specific (e.g. the `--ignore` option for ScanCode) or in a generic way (e.g. deleting files before scanning)?

Bosch will make a concrete suggestion for an implementation and propose it to the community.

[2022-11-17 13:52] bennati commented on #6070
@mnonnenmacher we tried your suggestion to clear the package-based cache and even disabled the package-based cache entirely but the error is still there.

[2022-11-17 17:25] bennati commented on #6070
We encountered the same issue also in a git project (not git-repo)

[code]

[2022-11-18 09:04] fviernau opened #6094 "Scanner: Crashes with concurrency issue"
[code]

[2022-11-18 09:17] sschuberth commented on #5782
@DaveJarvis, do you happen to know whether there's a BOM artifact in your dependency tree? If so, #5964 might fix your issue, too.

[2022-11-18 09:18] sschuberth commented on #5403
So, @maxhbr, should we close this?

[2022-11-18 09:24] bennati commented on #6070
Reproduced the error also in the file-based cache, after removing the database connection from the config
[code]

[2022-11-18 13:57] maxhbr commented on #5403
Yes, we can close it.

[2022-11-18 13:57] #5403 closed

[2022-11-18 15:15] pepper-jk opened #6095 "Feature Request: Equalizer Function for license operators"
## Context

I was trying to figure out how exceptions are detected, since double open has licenses listed redundantly in their license classification, which we adopted.

- `openvpn-openssl-exception`
- `GPL-2.0-with-openvpn-openssl-exception`
- and so on

Since this specific exception is used by [OpenVPN](https://github.com/OpenVPN/openvpn), I just scanned their repository.

And the license detect

[2022-11-18 15:19] pepper-jk commented on #6095
Might be related to:
- https://github.com/oss-review-toolkit/ort/issues/5036
- https://github.com/oss-review-toolkit/ort/issues/2605

[2022-11-18 20:01] sschuberth commented on #6095
I guess [we have something similar already](https://github.com/oss-review-toolkit/ort/blob/dba5140394804933db294056ad3a91ef21303278/utils/spdx/src/main/kotlin/SpdxExpression.kt#L129), however we normalize on current SPDX expressions with operators and non-deprecated license IDs, which may be something different than what you have in mind.

That's basically how it's already done on the ScanCode lev

[2022-11-18 20:05] sschuberth commented on #6095
Thinking about these again:
1. `openvpn-openssl-exception`
2. `GPL-2.0-with-openvpn-openssl-exception`
3. `GPL-2.0 WITH openvpn-openssl-exception`

Point 1 is, strictly speaking when treated as a whole expression, another thing than 2. or 3. as the exception is missing. And between 2. and 3., only 3. is actually a valid SPDX expression. So IMO it's correct that ORT reports it that way. Actually, w

[2022-11-21 16:10] sschuberth commented on #1833
I'll be updating this comment with a list of tool that might come in question:

- https://github.com/tern-tools/tern (moved from the "vmware" org)
- https://github.com/org-metaeffekt/metaeffekt-container-annex (probably outdated by now)
- https://github.com/nexB/container-inspector (part of scancode.io)
- https://github.com/anchore/syft (for vulnerabilities use https://github.com/anchore/grype)
-

[2022-11-22 11:52] pepper-jk commented on #6095
Great, so the feature actually exists already. I believe your approach would be the more desirable anyway.

Okay, so we actually only need the 3. notation `GPL-2.0 WITH openvpn-openssl-exception` and would be good? That is great news.

Going a little off topic here, but we also had trouble with this regarding the `or-later` portion of `GPL` style licenses (https://github.com/oss-review-toolkit/ort

[2022-11-22 12:36] sschuberth commented on #6095
I believe so, yes.

Could you briefly recap what *exactly* you're looking for to get fixed?

Exactly 👍🏻

[2022-11-22 12:55] pepper-jk commented on #6095
Sure. When scanning a repository with `GPL-2.0-or-later` the `or-later` notice gets detected separate from the `GPL-2.0` license text. This results in 2 findings: `GPL-2.0-only` and `GPL-2.0-or-later`.

This is problematic if you want to create rules for upward compatibility of licenses, which we did. As we now get for example **compatibility** between `GPL-2.0-or-later` and `GPL-3.0-only`, but al

[2022-11-22 18:00] pepper-jk commented on #6095
What do you use as a heuristic for the exceptions? Would that be the "if both [...] were detected in the same line of a file (or very close)"?

Honestly, I don't really see why that would not apply for the GPL's `or-later` notice. As this is what ScanCode picks up as `GPL-2.0-or-later`:

[code]

(see `diagnostics.yml` in https://github.com/nexB/scancode-toolkit/issues/3128#issuecomment-1294117170)

[2022-11-22 20:28] sschuberth commented on #6095
Yes.

The problem is that doing this with confidence requires knowledge about how the scanner internally operates. ScanCode is not the only scanner ORT supports, and this code is shared by all scanners. So can we really safely assume that whenever *any* scanner finds `GPL-2.0-only` and `GPL-2.0-or-later` close to each other, *always* just `GPL-2.0-or-later` is correct?

You could have probably con

[2022-11-23 07:48] sankalpa-menon15 commented on #6028
Hi Frank, I backtraced the ORT version in which the revision is correctly detected in the package.json. The revision is 88d1633e2e

[2022-11-23 10:23] pepper-jk commented on #6095
I understand. So we would need to investigate the behavior of [FossID](https://fossid.com/) as well. And provide more conclusive evidence and an accompanying heuristic.

I might come back to this, once we find the time to investigate the `or-later` problem further.

But for now let's close this issue, as this was off topic anyway and the original feature request is already implemented in ORT. Than

[2022-11-23 10:23] #6095 closed

[2022-11-23 10:43] fb33 opened #6102 "Scanner: crashes with some commandline format"
Hi,

With a yaml configuration, a commandLine with a space at the end makes the scanner failed.

Example :
If I wrote this in the config.yml
[code]
I get a error like this:
[code]

but if I wrote this :
[code]
there is no problem :-)

Maybe a trim when reading this config value can add robustness

[2022-11-24 12:47] #6102 closed

[2022-11-24 14:07] dgutson commented on #2694
@sschuberth any update on when to address this?

[2022-11-24 14:08] hanna-modica opened #6112 "Display scanner versions in Scan Report Web App"
At the moment, one cannot see which version of e.g. ScanCode was used for a scan when looking at the Scan Report Web App. It would be great, if this information was displayed in the about information (or maybe in the component information, if it makes more sense because they could be scanned with different versions when using a db?)

It looks like this information is already available in the scan-

[2022-11-24 14:13] sschuberth commented on #4180
@mmurto is this still an issue?

[2022-11-24 14:17] sschuberth commented on #3886
I just checked and cannot reproduce this: Filtering for "test" correctly only shows "test" scope dependencies only.

Please reopen if you can still reproduce this with a concrete example.

[2022-11-24 14:17] #3886 closed

[2022-11-24 14:30] sschuberth commented on #2694
I recently learned that [FOSSology by now supports ScanCode](https://github.com/fossology/fossology/pull/2176) as a (the default?) scanner. Which means ORT would not get anything back (in terms of scan results) from FOSSology that ORT doesn't already know by running ScanCode itself.

So I'm asking myself again what the purpose of such an integration would be. It's now probably more about pushing i

[2022-11-24 17:54] mmurto commented on #4180
@sschuberth I'll try to check.

[2022-11-24 22:28] sschuberth commented on #5097
Looks like `asdf` requires you to [install plugin dependencies manually](https://asdf-vm.com/guide/getting-started.html#plugin-dependencies) 😢

[2022-11-25 09:41] sschuberth commented on #5097
And even with https://github.com/asdf-vm/asdf/pull/757, plugin authors barely provide a `help.deps` script to list their dependencies for (semi-)automatic installation. Which makes it pretty hard to use `asdf` as an automation tool to setup other tools, IMO.

[2022-11-25 09:46] sschuberth commented on #5097
And because the setup of plugins is so cumbersome, the asdf-community has started to create Docker images for tool sets:

https://github.com/asdf-community/asdf-ubuntu
https://github.com/asdf-community/asdf-alpine

[2022-11-25 09:54] hanna-modica commented on #5335
Hi everyone,
did you make a decision yet? I agree with @sschuberth, that since you can resolve vulnerabilites even if they do not trigger a violation, if would be nice to have this information in the report.

[2022-11-25 10:07] sschuberth commented on #5335
@hanna-modica please ask someone from your team to add this to the agenda of an upcoming community meeting to start the discussion.

[2022-11-25 15:36] MarcelBochtler commented on #723
One issue I see in general with SPM is, that it seems to not support `declaredLicenses` at all.

This project requires the user to specify all dependencies with their licenses manually.

Other tools / articles I found:
https://github.com/MacPaw/spm-licenses This seems to clone the repository and to read the LICENSE file.
https://davidvonk.dev/2020/12/24/generating-spm-licenses.html Uses the GitHub

[2022-11-26 13:35] MarcelBochtler commented on #6112
I doubt that this can be done on a global level as you suggested in the about information, because the scanner version used for each of each package might differ if a scanner storage is being used.
That's why the `scan-result.yml` stores this information in the provenance data of each package.
Having that in mind, it might be possible to display this information in the details of each package.

[2022-11-27 12:17] mnonnenmacher commented on #723
I agree that if the package manager does not provide a declared license we should leave the field empty.

[2022-11-28 10:12] bennati commented on #6070
We notice this message in many scans, although most are able to complete.

For these scans, the inability to use the cache means the scan time can increase significantly.
Is there any plan to eventually support non-empty provenances?

[2022-11-28 10:48] mnonnenmacher commented on #6070
@bennati Could you provide a small test project that reproduces this issue? Because so far I have not been able to reproduce it.

[2022-11-28 14:41] sschuberth commented on #5818
This new feature is being made use of in https://github.com/oss-review-toolkit/ort/pull/6124.

[2022-11-28 14:41] #5818 closed

[2022-11-28 16:09] renovate[bot] opened #6127 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update kotlin monorepo to v1.7.22 (`org.jetbrains.kotlin.plugin.serialization`, `org.jetbrains.kotlin.jvm`)
 -

[2022-11-28 18:41] renovate[bot] opened #6133 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting ':' near alse",
  "`

[2022-11-28 18:54] sschuberth commented on #6133
I've fixed this by reverting https://github.com/oss-review-toolkit/ort/pull/6128 for now.

[2022-11-29 09:42] woznik opened #6136 "Scanner fails at: python3: command not found"
Hello
After building a Docker image from the commit: dd52a06308647f46d82662c453058855b836cd58 I noticed that every time I use scanner I get an error </br> `python3: command not found` </br>
![image](https://user-images.githubusercontent.com/17202024/204493520-94a8bb58-aa64-4284-9ee9-95b6cfb80320.png)

I have noticed that in the container the PATH does not contain the python bin location.
Scanner w

[2022-11-29 10:04] sschuberth commented on #6136
I see in the logs that ScanCode is getting bootstrapped, which seems wrong as it should be included in the Docker image.

Which `Dockerfile` did you build, the one in the root, or the one in `docker/legacy`?

[2022-11-29 10:16] woznik commented on #6136
Hi Sebastian
The one in the root
`- /kaniko/executor --context $CI_PROJECT_DIR --build-arg ORT_VERSION="DOCKER-SNAPSHOT" --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CONTAINER_RELEASE_IMAGE`

[2022-11-29 10:18] sschuberth commented on #6136
Can you please double check why ScanCode gets bootstrapped? Like, can you check whether ScanCode is already part of the built Docker image or not?

[2022-11-29 11:08] bennati commented on #6070
do you mean reproduce the crash, or the caching issues like: ?
`org.ossreviewtoolkit.scanner.ScanStorageException: Repository provenances with a non-empty VCS path are not supported.`

[2022-11-29 11:15] woznik commented on #6136
I see that the scancode-toolkit is installed during the build process: <br/>
![image](https://user-images.githubusercontent.com/17202024/204514092-e65d5e8f-2056-47e6-91ae-1b9c7517c82c.png)
and then:</br>
![image](https://user-images.githubusercontent.com/17202024/204514323-08b59877-968a-4f20-8814-f009c9a690ea.png)

This is a good question why the scacode toolkit is being downloaded during the scan

[2022-11-29 11:21] sschuberth commented on #6136
What does your `scancodeVersion` entry in `gradle.properties` say? See

https://github.com/oss-review-toolkit/ort/blob/9e5d5214291a7e99da92db7466978ab2efbd014d/gradle.properties#L34

That's what determines the ScanCode version ORT should use. If ORT does not find exactly that version, it gets bootstrapped, even if another version of ScanCode is present in the Docker image.

[2022-11-29 11:32] woznik commented on #6136
Yes I confirm the content of the `gradle.properties` file

[code]

PS: true

[2022-11-29 11:44] mnonnenmacher commented on #6070
@bennati Some project that causes the `IllegalArgumentException` in `filterByVcsPath()`.

[2022-11-29 11:45] sschuberth commented on #6136
Ok, then the underlying problem is that the installed ScanCode version cannot be found in `PATH` (of the user you're using to run the Docker image). Actually, the issue sounds similar to https://github.com/oss-review-toolkit/ort/issues/5871, can you check out what's said there @woznik?

[2022-11-29 11:52] sschuberth commented on #6048
I believe the original question regarding the notifier configuration has been answered, and the [GitHub action is public now](https://github.com/oss-review-toolkit/ort-ci-github-action), so can we close this @tsteenbe?

[2022-11-29 12:34] woznik commented on #6136
That might be the case. I will check that

[2022-11-29 14:52] woznik commented on #6136
Yes, I resolved the issue on my side
The change of the entrypoint from /opt to /usr makes a difference
Thanks a lot for the #5871  issue

[2022-11-29 14:52] #6136 closed

[2022-11-29 15:40] sschuberth commented on #3904
Looks like they changed their mind: https://github.com/Kotlin/kotlinx.serialization/pull/2111

[2022-11-30 15:10] mnonnenmacher opened #6146 "Git returns wrong nested repositories for uninitialized submodule"
When running the analyzer on a project with uninitialized Git submodules, the nested repository information is wrong. For each uninitialized submodule it contains the original repository. The expected behavior would be to either fail or not return any entry for the uninitialized submodule.

This can be reproduced by running the analyzer on the https://github.com/oss-review-toolkit/ort-test-data-gi

[2022-11-30 15:57] sschuberth commented on #1029
Interesting to see how [CheckStyle implemented SARIF support via JSON templates](https://github.com/checkstyle/checkstyle/pull/9671) that they just fill in.

[2022-11-30 16:02] sschuberth commented on #6146
I believe you mean "no initialized" or just "uninitalized", @mnonnenmacher?

I think it should ignore them, otherwise we'd not be able to analyze repos where "unimportant" stuff (like we do  with test projects) have been outsources to Git submodules; such things would usually not be relevant for analysis anyway.

[2022-11-30 19:27] sschuberth commented on #5495
Actually https://github.com/oss-review-toolkit/ort/pull/6105 shows that no changes on ORT side are needed, probably because we do not deserialize the full data model but only iterate over needed JSON nodes.

[2022-11-30 20:00] sschuberth commented on #5894
FYI, this specific issue has been fixed with https://github.com/oss-review-toolkit/ort/pull/6148.